<p-toast key="pages"/>
<p-blockUI [blocked]="blockedMenu"/>
<app-remote-data-loader #loader [remote]="selectedRemote" (loaded)="remoteLoaded($event)"></app-remote-data-loader>
<p-menubar [model]="menuItems">
  <ng-template pTemplate="end">
    <div class="flex align-items-center gap-2">
      <i>Work in progress</i>&nbsp;
      <p-dropdown [(ngModel)]="selectedRemote" [options]="remotes" placeholder="Select remote" (ngModelChange)="setRemote(selectedRemote!)"
                  class="smaller-dropdown">
        <ng-template pTemplate="selectedItem">
          <ng-container *ngIf="selectedRemote">{{selectedRemote.remote_name}} ({{selectedRemote.address}})</ng-container>
          <ng-container *ngIf="!selectedRemote">No remote selected</ng-container>
        </ng-template>
        <ng-template let-item pTemplate="item">
          {{item.remote_name}} ({{item.address}})
        </ng-template>
      </p-dropdown>
    </div>
  </ng-template>
</p-menubar>
<br>
<ng-container *ngIf="modifiedProfiles.length > 0">
  <div class="flex flex-wrap gap-2">Modified profiles : <p-tag *ngFor="let item of modifiedProfiles"
                                                         [value]="item.profile.name+' page '+item.page.name"/></div>
</ng-container>
<app-remote-data-loader #loader [remote]="selectedRemote" (loaded)="remoteLoaded($event)"></app-remote-data-loader>
<ng-container *ngFor="let profile of profiles">
  <div class="flex flex-wrap gap-2 align-items-center">
    <h3>Profile {{profile.name}}</h3>
    <p-button label="Save profile" (onClick)="saveProfile(profile)" severity="success" icon="pi pi-save" size="small"
      pTooltip="Save this profile &quot;{{profile.name}}&quot; to disk"></p-button>
  </div>
  <ng-container *ngIf="editable">
    <div class="flex flex-wrap gap-4" cdkDropList cdkDropListOrientation="mixed" (cdkDropListDropped)="drop($event, profile)">
      <app-page *ngFor="let page of profile.pages" [remote]="selectedRemote" [editable]="editable"
                [entities]="entities" (onDeletePage)="deletePage($event, profile)" (onUpdate)="updatePage($event, profile)"
                [page]="page" [profile]="profile" class="media-card-border" cdkDrag/>
    </div>
  </ng-container>
  <ng-container *ngIf="!editable">
    <div class="flex flex-wrap gap-4">
      <app-page *ngFor="let page of profile.pages" [remote]="selectedRemote" [editable]="editable"
                [entities]="entities" [page]="page" [profile]="profile" class="media-card-border"/>
    </div>
  </ng-container>
</ng-container>
<input #input_file type="file" style="display:none" (change)="loadInputFile($event)">
<app-remote-operations #operations [operations]="remoteOperations" [remote]="selectedRemote"
   [(visible)]="showOperations" (operationsDone)="operationsDone($event)"></app-remote-operations>
