<p-toast></p-toast>
<h2><img src="assets/logo.png" alt="" style="width:200px"/>&nbsp;&nbsp;Remote Two configuration toolkit</h2>
<p-blockUI [blocked]="blockedMenu"/>
<div class="progress-spinner" *ngIf="progress">
  <p-progressSpinner styleClass="w-4rem h-4rem" strokeWidth="8" fill="var(--surface-ground)" animationDuration=".5s"></p-progressSpinner>
</div>
<p-menubar #menubar [model]="items">
  <ng-template pTemplate="end">
    <p-dropdown [(ngModel)]="selectedRemote" [options]="remotes" placeholder="Select remote" (ngModelChange)="setRemote(selectedRemote!)">
      <ng-template pTemplate="selectedItem">
        <ng-container *ngIf="selectedRemote">{{selectedRemote.remote_name}} ({{selectedRemote.address}})</ng-container>
        <ng-container *ngIf="!selectedRemote">No remote selected</ng-container>
      </ng-template>
      <ng-template let-item pTemplate="item">
        {{item.remote_name}} ({{item.address}}<ng-container *ngIf="item.port !== '80'">:{{item.port}}</ng-container>)
      </ng-template>
    </p-dropdown>
  </ng-template>
</p-menubar>
<app-remote-data-loader #loader [remote]="selectedRemote" (loaded)="remoteLoaded($event)"></app-remote-data-loader>
<ng-container *ngIf="progress && remoteProgress > 0">
  {{progressDetail}}<br>
  <p-progressBar [value]="Math.round(remoteProgress)"></p-progressBar>
</ng-container>
<p-messages severity="info">
  <ng-template pTemplate>
    <div class="ml-2">Here you can review your activities and entities. When you click on an activity you can edit it (buttons and UI mapping, replace an entity by another...).<br>
    If you want to replace entities in all activities, please select <b>Rename entities</b> option above</div>
  </ng-template>
</p-messages>
<ng-container *ngIf="context && !context.type">
  <h4>Current source : <a (click)="downloadFile(context.source)" href="#">{{context.source}}</a> ({{context.date | date:'dd MMM yyyy \'at\' HH:mm'}})</h4>
</ng-container>
<ng-container *ngIf="context && context.type">
  <h4>Current source (cached) : {{context.source}} ({{context.date | date:'dd MMM yyyy \'at\' HH:mm'}})</h4>
</ng-container>&nbsp;

<ng-container *ngIf="currentFile && currentFile.inProgress">
  <p-progressBar [value]="currentFile.progress"></p-progressBar>
</ng-container>
<app-remote-registration (remoteSelected)="setRemote($event)" (remotesChanged)="updateRemotes($event)"></app-remote-registration>
<app-entity-viewer #entityviewer></app-entity-viewer>
<p-dialog [header]="'Activity viewer : '+activityeditor?.activity?.name" [(visible)]="viewerVisible" [style]="{width: '50vw'}">
  <app-activity-viewer #activityeditor [remote]="selectedRemote" [editMode]="false" (onChange)="loadRemote()"></app-activity-viewer>
</p-dialog>
<app-uploaded-files (configurationUpdated)="updateConfiguration()" [currentSource]="context?.source!"></app-uploaded-files>
<input type="file" #fileUpload class="upload">
<div class="flex overflow-hidden">
  <div class="flex-none flex align-items-center justify-content-left px-1 py-1">
    Search entity :</div>
  <div class="flex-grow-1 flex align-items-center justify-content-left px-1 py-1">
    <div style="width: 100%;">
<p-autoComplete [(ngModel)]="entity" [dropdown]="true" [suggestions]="suggestions" (completeMethod)="searchEntity($event)" appendTo="body"
                                (ngModelChange)="selectEntity(entity)" field="entity_id" [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}">
  <ng-template let-item pTemplate="item">
    <div><b>{{item.name}}</b> [<span [style]="{'color': getBackgroundColor(item.entity_type)}">{{item.entity_type}}</span>] ({{item.entity_id}})</div>
  </ng-template>
</p-autoComplete></div>
</div>
  <div class="flex-none flex align-items-center justify-content-right px-1 py-1">
    <p-button label="Copy entities" (onClick)="copyToClipboard(entities)" icon="pi pi-copy" size="small"></p-button>&nbsp;
    <p-button label="Copy activities" (onClick)="copyToClipboard(activities)" icon="pi pi-copy" size="small"></p-button>&nbsp;
    <p-button label="Clear cache" (onClick)="clearCache()" severity="danger" icon="pi pi-trash" size="small"></p-button>
  </div>
</div>
<ng-container *ngIf="entity && entity.entity_id">
  <div class="fields">
    <p><b>Entity id : </b>{{entity.entity_id}}</p>
    <p><b>Name : </b><p-chip [label]="Helper.getEntityName(entity)!" [style]="getStyle(Helper.getEntityName(entity)!)"></p-chip></p>
    <p><b>Type : </b><p-chip [label]="entity.entity_type" [style]="getStyle(entity.entity_type)"></p-chip></p>
    <p *ngIf="entityUsages?.activity_entities!.length > 0"><b>Usages in activities : </b>
      <ng-container *ngFor="let activity_entity of entityUsages?.activity_entities">
        <p-chip [label]="activity_entity.name" [style]="getStyle(activity_entity.name)"></p-chip>&nbsp;
      </ng-container></p>
    <p *ngIf="entityUsages?.activity_sequences!.length > 0"><b>Usages in sequences : </b>
      <ng-container *ngFor="let sequence of entityUsages?.activity_sequences">
        <p-chip [label]="sequence.cmd_id+' ('+sequence.sequence_type+')'" [style]="getStyle(sequence.cmd_id)"></p-chip>&nbsp;
      </ng-container></p>
    <p *ngIf="entityUsages?.activity_buttons!.length > 0"><b>Usages in activity buttons : </b>
      <ng-container *ngFor="let button of entityUsages?.activity_buttons">
        <p-chip [label]="button.button" [style]="getStyle(button.button)" [pTooltip]="button.name+' '+button.activity_id"></p-chip>&nbsp;
      </ng-container></p>
    <p *ngIf="entityUsages?.activity_buttons!.length > 0"><b>Usages in activity interface : </b>
      <ng-container *ngFor="let page of entityUsages?.activity_interface">
        <p-chip [label]="page.command" [style]="getStyle(page.command)" [pTooltip]="page.name+' '+page.activity_id"></p-chip>&nbsp;
      </ng-container></p>
    <p *ngIf="entityUsages?.pages!.length > 0"><b>Usages in pages : </b>
      <ng-container *ngFor="let page of entityUsages?.pages">
        <p-chip [label]="page.name" [style]="getStyle(page.name)"></p-chip>&nbsp;
      </ng-container></p>

  </div>
</ng-container>
<p-accordion [multiple]="true" [activeIndex]="accordionActiveIndexes">
  <ng-container *ngIf="orphanEntities.length > 0">
    <p-accordionTab header="Orphan entities">
      <p-table [value]="orphanEntities" styleClass="p-datatable-sm p-datatable-striped" [resizableColumns]="true"
               dataKey="entity_id" columnResizeMode="expand">
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="title" pResizableColumn>Name<p-sortIcon field="name"></p-sortIcon></th>
            <th pSortableColumn="entity_id" pResizableColumn>Entity id<p-sortIcon field="entity_id"></p-sortIcon></th>
            <th pResizableColumn>Used in activities</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-entity>
          <tr>
            <td>{{Helper.getEntityName(entity)}}</td>
            <td>{{entity.entity_id}}</td>
            <td><ng-container *ngIf="entity.activities">
              <ng-container *ngFor="let activity of entity.activities">
                <p-chip [label]="activity.name" [style]="getStyle(activity.name)" [pTooltip]="activity.entity_id"
                  (click)="viewActivity(activityeditor, activity)" class="link-element"></p-chip>
              </ng-container>
            </ng-container></td>
          </tr>
        </ng-template>
      </p-table>
    </p-accordionTab>
  </ng-container>
  <ng-container *ngIf="unusedEntities.length > 0">
    <p-accordionTab header="Unused entities">
      <p-button *ngIf="selectedUnusedEntities.length > 0" [pTooltip]="'Remove the '+unusedEntities.length+' selected unused entities'" label="Remove unused entities"
                (onClick)="removeEntities(selectedUnusedEntities)" severity="danger" icon="pi pi-times" size="small"></p-button>

      <p-table [value]="unusedEntities" [(selection)]="selectedUnusedEntities" styleClass="p-datatable-sm p-datatable-striped" [resizableColumns]="true"
               dataKey="entity_id" columnResizeMode="expand">
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 4rem"><p-tableHeaderCheckbox pTooltip="Select all unused entities to be removed" /></th>
            <th pSortableColumn="title" pResizableColumn>Name</th>
            <th pSortableColumn="entity_id" pResizableColumn>Entity id<p-sortIcon field="entity_id"></p-sortIcon></th>
            <th pSortableColumn="entity_type" pResizableColumn>Type<p-sortIcon field="entity_type"></p-sortIcon></th>
            <th>Actions</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-entity>
          <tr>
            <td><p-tableCheckbox [value]="entity" pTooltip="Select this entity to be removed"/></td>
            <td>{{Helper.getEntityName(entity)}}</td>
            <td>{{entity.entity_id}}</td>
            <td><p-chip [label]="entity.entity_type" [style]="getStyle(entity.entity_type)"></p-chip></td>
            <td><p-button [pTooltip]="'Remove configured entity '+Helper.getEntityName(entity)"
                          (onClick)="removeEntity(entity)"  [rounded]="true" severity="danger" icon="pi pi-times" size="small"></p-button></td>
          </tr>
        </ng-template>
      </p-table>
    </p-accordionTab>
  </ng-container>
  <p-accordionTab header="Activities">
    <p-table #dt [value]="activities" styleClass="p-datatable-sm p-datatable-striped" [resizableColumns]="true"
             dataKey="entity_id" [globalFilterFields]="['activity_id','name','entities.name']"
             [scrollable]="true" [scrollHeight]="'calc(100vh - 50px)'">
      <ng-template pTemplate="caption">
        <div class="flex">
        <span class="p-input-icon-left ml-auto">
            <i class="pi pi-search"></i>
            <input pInputText type="text" (input)="setFilter(dt, $event)" placeholder="Search keyword" />
        </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="name" pResizableColumn>Name<p-sortIcon field="name"></p-sortIcon></th>
          <th pSortableColumn="entity_id" pResizableColumn>Activity ID<p-sortIcon field="activity_id"></p-sortIcon></th>
          <th pResizableColumn>Entities</th>
        </tr>
        <tr>
          <th><p-columnFilter type="text" field="name" [matchMode]="'contains'"></p-columnFilter></th>
          <th><p-columnFilter type="text" field="entity_id" [matchMode]="'contains'"></p-columnFilter></th>
          <th>&nbsp;</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-activity>
        <tr>
          <td>
            <div class="flex">
            <div *ngIf="selectedRemote && activity?.icon" style="width: 40px; height: 40px" class="flex-initial flex align-items-center justify-content-center link-element">
              <app-icon [remote]="selectedRemote" [icon]="activity?.icon" [size]="50" [fontSize]="55" (click)="viewActivity(activityeditor, activity)"/>
              &nbsp; &nbsp;
            </div>
              <div class="flex-initial flex align-items-center justify-content-center">
                <a [routerLink]="[]" (click)="viewActivity(activityeditor, activity)">{{ Helper.getEntityName(activity) }}</a>
              </div>
            </div>
          </td>
          <td><a [routerLink]="[]" (click)="viewActivity(activityeditor, activity)">{{ activity.entity_id }}</a></td>
          <td><ng-container *ngFor="let activity_entity of activity['entities']">
            <p-chip [label]="getEntityName(activity_entity.entity_id)" (mouseover)="showEntity(activity_entity.entity_id);oventity.show($event)"
                    (mouseleave)="oventity.hide()" (click)="selectEntity(activity_entity.entity_id)"
                    [style]="getStyle(getEntityName(activity_entity.entity_id))" class="link-element"></p-chip> </ng-container></td>
        </tr>
      </ng-template>
    </p-table>
  </p-accordionTab>

  <p-accordionTab header="Entities">
    <p-table #dt2 [value]="entities" styleClass="p-datatable-sm p-datatable-striped" [resizableColumns]="true"
             dataKey="entity_id" columnResizeMode="expand"
             [globalFilterFields]="['entity_id','name','entity_type','integration_id']"
             [scrollable]="true" [scrollHeight]="'calc(100vh - 50px)'">
      <ng-template pTemplate="caption">
        <div class="flex">
        <span class="p-input-icon-left ml-auto">
            <i class="pi pi-search"></i>
            <input pInputText type="text" (input)="setFilter(dt2, $event)" placeholder="Search keyword" />
        </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="name" pResizableColumn>Name<p-sortIcon field="name"></p-sortIcon></th>
          <th pSortableColumn="entity_id" pResizableColumn>Entity ID<p-sortIcon field="entity_id"></p-sortIcon></th>
          <th pSortableColumn="entity_type" pResizableColumn>Entity type<p-sortIcon field="entity_type"></p-sortIcon></th>
          <th pSortableColumn="integration_id" pResizableColumn>Integration<p-sortIcon field="integration_id"></p-sortIcon></th>
          <th pResizableColumn>Features</th>
        </tr>
        <tr>
          <th><p-columnFilter type="text" field="name" [matchMode]="'contains'"></p-columnFilter></th>
          <th><p-columnFilter type="text" field="entity_id" [matchMode]="'contains'"></p-columnFilter></th>
          <th><p-columnFilter field="entity_type" matchMode="in" [showMenu]="false">
            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
              <p-multiSelect
                [ngModel]="value"
                [options]="Helper.getItems(entities, 'entity_type')"
                placeholder="Entity type"
                (onChange)="filter($event.value)"
                optionLabel="name" optionValue="value" appendTo="body">
              </p-multiSelect>
            </ng-template>
          </p-columnFilter></th>
          <th><p-columnFilter field="integration_id" matchMode="in" [showMenu]="false">
            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
              <p-multiSelect
                [ngModel]="value"
                [options]="Helper.getItems(entities, 'integration_id')"
                placeholder="Integration ID"
                (onChange)="filter($event.value)"
                optionLabel="name" optionValue="value" appendTo="body">
              </p-multiSelect>
            </ng-template>
          </p-columnFilter></th>
          <th>&nbsp;</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-entity>
        <tr>
          <td>
            <div class="flex link-element">
              <app-icon [remote]="selectedRemote" [icon]="entity?.icon" [size]="40" [fontSize]="55" (click)="entityviewer.view(entity)"/>
              &nbsp;&nbsp;
              <div class="flex-initial flex align-items-center justify-content-center">
                &nbsp;<p-chip [label]="entity.name" [style]="getStyle(entity.name)" (click)="entityviewer.view(entity)" class="link-element"></p-chip>
              </div>
            </div>
            </td>
          <td><a [routerLink]="[]" (click)="entityviewer.view(entity)">{{entity.entity_id}}</a></td>
          <td><p-chip [label]="entity.entity_type" [style]="getStyle(entity.entity_type)"></p-chip></td>
          <td><p-chip [label]="entity.integration_id" [style]="getStyle(entity.integration_id)"></p-chip></td>
          <td><ng-container *ngFor="let feature of entity['features']">
            <p-chip [label]="feature" [style]="getStyle(feature)"></p-chip> </ng-container></td>
        </tr>
      </ng-template>
    </p-table>
  </p-accordionTab>
</p-accordion>

<p-overlayPanel #oventity>
  <ng-container *ngIf="hoverEntity">
    {{hoverEntity.name}} {{hoverEntity.entity_id}} {{hoverEntity.entity_type}} {{hoverEntity.integration}}
    <br>
    Features : {{hoverEntity.features?.join((", "))}}<br>
  </ng-container>
  <!--  <p-table [value]="entity" styleClass="p-datatable-sm p-datatable-striped" [resizableColumns]="true">-->
  <!--    <ng-template pTemplate="header">-->
  <!--    </ng-template>-->
  <!--  </p-table>-->
</p-overlayPanel>
<ng-container *ngIf="outputObject"><br><p-button label="Clear" (onClick)="outputObject = null"></p-button>
  <ngx-json-viewer  [json]="outputObject"></ngx-json-viewer>
</ng-container>
<p-confirmDialog key="confirmBrowser"/>
