<div class="progress-spinner" *ngIf="progress">
  <p-progressSpinner styleClass="w-4rem h-4rem" strokeWidth="8" fill="var(--surface-ground)" animationDuration=".5s"></p-progressSpinner>
</div>

<p-toast></p-toast>
<h2><img src="assets/logo.png" alt="" style="width:200px"/>&nbsp;&nbsp;Remote Two configuration toolkit</h2>
<p-menubar [model]="items">
  <ng-template pTemplate="end">
    <p-dropdown [(ngModel)]="selectedRemote" [options]="remotes" placeholder="Select remote" (ngModelChange)="setRemote(selectedRemote!)">
      <ng-template pTemplate="selectedItem">
        <ng-container *ngIf="selectedRemote">{{selectedRemote.remote_name}} ({{selectedRemote.address}})</ng-container>
        <ng-container *ngIf="!selectedRemote">No remote selected</ng-container>
      </ng-template>
      <ng-template let-item pTemplate="item">
        {{item.remote_name}} ({{item.address}})
      </ng-template>
    </p-dropdown>
  </ng-template>
</p-menubar>
<ng-container *ngIf="progress">
  {{progressDetail}}<br>
  <p-progressBar [value]="Math.round(remoteProgress)"></p-progressBar>
</ng-container>
<ng-container *ngIf="context && !context.type">
  <h4>Current source : <a (click)="downloadFile(context.source)" href="#">{{context.source}}</a> ({{context.date | date:'dd MMM yyyy \'at\' HH:mm'}})</h4>
</ng-container>
<ng-container *ngIf="context && context.type">
  <h4>Current source : {{context.source}} ({{context.date | date:'dd MMM yyyy \'at\' HH:mm'}})</h4>
</ng-container>&nbsp;

<ng-container *ngIf="currentFile && currentFile.inProgress">
  <p-progressBar [value]="currentFile.progress"></p-progressBar>
</ng-container>
<app-remote-registration></app-remote-registration>
<app-entity-viewer #entityviewer></app-entity-viewer>
<app-activity-viewer #activityeditor [remote]="selectedRemote" [editMode]="false"></app-activity-viewer>
<app-uploaded-files (configurationUpdated)="updateConfiguration()" [currentSource]="context?.source!"></app-uploaded-files>
<input type="file" #fileUpload class="upload">
<div class="flex overflow-hidden">
  <div class="flex-none flex align-items-center justify-content-left px-1 py-1">
    Search entity :</div>
  <div class="flex-grow-1 flex align-items-center justify-content-left px-1 py-1">
    <div style="width: 100%;">
<p-autoComplete [(ngModel)]="entity" [dropdown]="true" [suggestions]="suggestions" (completeMethod)="searchEntity($event)" appendTo="body"
                                (ngModelChange)="selectEntity(entity)" field="entity_id" [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}">
  <ng-template let-item pTemplate="item">
    <div><b>{{item.name}}</b> [<span [style]="{'color': getBackgroundColor(item.entity_type)}">{{item.entity_type}}</span>] ({{item.entity_id}})</div>
  </ng-template>
</p-autoComplete></div>
</div>
  <div class="flex-none flex align-items-center justify-content-right px-1 py-1">
    <p-button label="Copy entities" (onClick)="copyToClipboard(entities)" icon="pi pi-copy" size="small"></p-button>&nbsp;
    <p-button label="Copy activities" (onClick)="copyToClipboard(activities)" icon="pi pi-copy" size="small"></p-button>&nbsp;
    <p-button label="Clear cache" (onClick)="clearCache()" severity="danger" icon="pi pi-trash" size="small"></p-button>
  </div>
</div>

  <ng-container *ngIf="entity && entity.entity_id">
  <div class="fields">
    <p><b>Entity id : </b>{{entity.entity_id}}</p>
    <p><b>Name : </b><p-chip [label]="Helper.getEntityName(entity)!" [style]="getStyle(Helper.getEntityName(entity)!)"></p-chip></p>
    <p><b>Type : </b><p-chip [label]="entity.entity_type" [style]="getStyle(entity.entity_type)"></p-chip></p>
    <p *ngIf="entityUsages?.activity_entities!.length > 0"><b>Usages in activities : </b>
      <ng-container *ngFor="let activity_entity of entityUsages?.activity_entities">
        <p-chip [label]="activity_entity.name" [style]="getStyle(activity_entity.name)"></p-chip>&nbsp;
      </ng-container></p>
    <p *ngIf="entityUsages?.activity_sequences!.length > 0"><b>Usages in sequences : </b>
      <ng-container *ngFor="let sequence of entityUsages?.activity_sequences">
        <p-chip [label]="sequence.cmd_id+' ('+sequence.sequence_type+')'" [style]="getStyle(sequence.cmd_id)"></p-chip>&nbsp;
      </ng-container></p>
      <p *ngIf="entityUsages?.activity_buttons!.length > 0"><b>Usages in activity buttons : </b>
      <ng-container *ngFor="let button of entityUsages?.activity_buttons">
        <p-chip [label]="button.button" [style]="getStyle(button.button)" [pTooltip]="button.name+' '+button.activity_id"></p-chip>&nbsp;
      </ng-container></p>
    <p *ngIf="entityUsages?.activity_buttons!.length > 0"><b>Usages in activity interface : </b>
      <ng-container *ngFor="let page of entityUsages?.activity_interface">
        <p-chip [label]="page.command" [style]="getStyle(page.command)" [pTooltip]="page.name+' '+page.activity_id"></p-chip>&nbsp;
      </ng-container></p>
    <p *ngIf="entityUsages?.pages!.length > 0"><b>Usages in pages : </b>
      <ng-container *ngFor="let page of entityUsages?.pages">
        <p-chip [label]="page.name" [style]="getStyle(page.name)"></p-chip>&nbsp;
      </ng-container></p>

  </div>
</ng-container>
<ng-container *ngIf="outputObject"><br><p-button label="Clear" (onClick)="outputObject = null"></p-button>
  <ngx-json-viewer  [json]="outputObject"></ngx-json-viewer>
</ng-container>
<p-overlayPanel #oventity>
  <ng-container *ngIf="hoverEntity">
    {{hoverEntity.name}} {{hoverEntity.entity_id}} {{hoverEntity.entity_type}} {{hoverEntity.integration}}
    <br>
    Features : {{hoverEntity.features?.join((", "))}}<br>
  </ng-container>
  <!--  <p-table [value]="entity" styleClass="p-datatable-sm p-datatable-striped" [resizableColumns]="true">-->
  <!--    <ng-template pTemplate="header">-->
  <!--    </ng-template>-->
  <!--  </p-table>-->
</p-overlayPanel>
<h2>Activities</h2>
<p-table [value]="activities" styleClass="p-datatable-sm p-datatable-striped" [resizableColumns]="true"
         dataKey="entity_id">
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="entity_id" pResizableColumn>Activity ID<p-sortIcon field="activity_id"></p-sortIcon></th>
      <th pSortableColumn="name" pResizableColumn>Name<p-sortIcon field="name"></p-sortIcon></th>
      <th pResizableColumn>Entities</th>
    </tr>
    <tr>
      <th><p-columnFilter type="text" field="entity_id"></p-columnFilter></th>
      <th><p-columnFilter type="text" field="name"></p-columnFilter></th>
      <th>&nbsp;</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-activity>
    <tr>
      <td><a [routerLink]="[]" (click)="activityeditor.view(activity, false)">{{ activity.entity_id }}</a></td>
      <td><a [routerLink]="[]" (click)="activityeditor.view(activity, false)">{{ activity.name }}</a></td>
      <td><ng-container *ngFor="let activity_entity of activity['entities']">
        <p-chip [label]="getEntityName(activity_entity.entity_id)" (mouseover)="showEntity(activity_entity.entity_id);oventity.show($event)"
                (mouseleave)="oventity.hide()" (click)="selectEntity(activity_entity.entity_id)"
                [style]="getStyle(getEntityName(activity_entity.entity_id))"></p-chip> </ng-container></td>
    </tr>
  </ng-template>
</p-table>
<h2>Entities</h2>
<p-table [value]="entities" styleClass="p-datatable-sm p-datatable-striped" [resizableColumns]="true"
         dataKey="entity_id" columnResizeMode="expand">
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="entity_id" pResizableColumn>Entity ID<p-sortIcon field="entity_id"></p-sortIcon></th>
      <th pSortableColumn="name" pResizableColumn>Name<p-sortIcon field="name"></p-sortIcon></th>
      <th pSortableColumn="type" pResizableColumn>Type<p-sortIcon field="type"></p-sortIcon></th>
      <th pSortableColumn="entity_type" pResizableColumn>Entity type<p-sortIcon field="entity_type"></p-sortIcon></th>
      <th pResizableColumn>Features</th>
      <th pSortableColumn="filename" pResizableColumn>Path<p-sortIcon field="filename"/></th>
    </tr>
    <tr>
      <th><p-columnFilter type="text" field="entity_id"></p-columnFilter></th>
      <th><p-columnFilter type="text" field="name"></p-columnFilter></th>
      <th><p-columnFilter type="text" field="type"></p-columnFilter></th>
      <th><p-columnFilter type="text" field="type"></p-columnFilter></th>
      <th><p-columnFilter type="text" field="entity_type"></p-columnFilter></th>
      <th>&nbsp;</th>
      <th><p-columnFilter type="text" field="filename"></p-columnFilter></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-entity>
    <tr>
      <td><a [routerLink]="[]" (click)="entityviewer.view(entity)">{{entity.entity_id}}</a></td>
      <td><p-chip [label]="entity.name" [style]="getStyle(entity.name)" (click)="entityviewer.view(entity)"></p-chip></td>
      <td><p-chip [label]="entity.type" [style]="getStyle(entity.type)"></p-chip></td>
      <td><p-chip [label]="entity.entity_type" [style]="getStyle(entity.entity_type)"></p-chip></td>
      <td><ng-container *ngFor="let feature of entity['features']">
        <p-chip [label]="feature" [style]="getStyle(feature)"></p-chip> </ng-container></td>
      <td><span>{{entity.filename}}</span></td>
    </tr>
  </ng-template>
</p-table>
