<p-toast id="remoteCommand"></p-toast>
<app-icon-selector (iconSelected)="iconSelected($event)"></app-icon-selector>
<p-dialog header="Edit command" [(visible)]="visible" [style]="{width: '50vw', height: '40vw'}" appendTo="body"
  [dismissableMask]="true">
  <p-button severity="danger" icon="pi pi-undo" (onClick)="undoChanges($event)" label="Revert changes"></p-button><br>
  <div class="flex flex-wrap gap-3" *ngIf="command">
    <div class="flex align-items-center">
      <label for="mode">Toggle text / icon</label>
    </div>
    <div class="flex align-items-center">
      <p-selectButton id="mode" [options]="stateOptions" [(ngModel)]="command.type" optionLabel="label" optionValue="value"></p-selectButton>
    </div>
    <div class="flex align-items-center" *ngIf="command.type === 'text'">
      <label for="text">Display text</label>
    </div>
    <div class="flex align-items-center"  *ngIf="command.type === 'text'">
      <input pInputText id="text" type="text" placeholder="Normal" [(ngModel)]="command.text" />
    </div>
    <div class="flex align-items-center" *ngIf="command.type === 'icon'">
      <span id="icon" (click)="selectIcon(command)" class="icon-selected">
        <ng-container *ngIf="command.icon && Helper.isStandardIcon(command.icon)">
          <span [class]="Helper.getIconClass(command.icon)"></span>
        </ng-container>
        <ng-container *ngIf="command.icon && Helper.isCustomIcon(command.icon)">
          <img [src]="Helper.getIconURL(remote!, command.icon)" [alt]="command.icon" width="70" height="70">
        </ng-container>
      </span>
    </div>
    <div class="flex align-items-center" *ngIf="command.type === 'media_player'">
      <label>Media player</label>
      {{command.media_player_id}}
    </div>
  </div>
  <div class="flex flex-wrap gap-3">
    <div class="flex align-items-center">
    <label for="entity">Entity</label>
    </div>
    <div class="flex align-items-center">
    <p-dropdown id="entity" [(ngModel)]="selectedEntity" [options]="activityEntities" (ngModelChange)="entitySelected($event)">
      <ng-template pTemplate="selectedItem">
        {{Helper.getEntityName(selectedEntity)}}
      </ng-template>
      <ng-template let-item pTemplate="item">
        {{Helper.getEntityName(item)}} ({{item.entity_id}})
      </ng-template>
    </p-dropdown>
    </div>
    <div class="flex align-items-center">
    <label for="command">Command</label>
    </div>
    <div class="flex align-items-center">
    <p-dropdown id="command" [(ngModel)]="selectedCommand" [options]="entityCommands" (ngModelChange)="commandSelected($event)">
      <ng-template pTemplate="selectedItem">
        {{Helper.getEntityName(selectedCommand)}}
      </ng-template>
      <ng-template let-item pTemplate="item">
        {{Helper.getEntityName(item)}}
      </ng-template>
    </p-dropdown>
    </div>
  </div>
<br>
  <div class="flex flex-wrap gap-3" *ngIf="command">
    <div class="flex  align-items-center">
      <label for="width">Width</label>
    </div>
    <div class="flex-shrink-0 align-items-center">
      <p-inputNumber inputStyle="width:30px" id="width" [(ngModel)]="command.size!.width" [showButtons]="true" buttonLayout="horizontal" inputId="width" spinnerMode="horizontal" [step]="1"
          decrementButtonClass="p-button-danger" incrementButtonClass="p-button-success" incrementButtonIcon="pi pi-plus"
          decrementButtonIcon="pi pi-minus" [min]="1" [max]="4" styleClass="input-number"></p-inputNumber>
    </div>
    <div class="flex align-items-center">
      <label for="height">Height</label>
    </div>
    <div class="flex-shrink-0 align-items-center">
      <p-inputNumber inputStyle="width:30px" id="height" [(ngModel)]="command.size!.height" [showButtons]="true" buttonLayout="horizontal" inputId="width" spinnerMode="horizontal" [step]="1"
                     decrementButtonClass="p-button-danger" incrementButtonClass="p-button-success" incrementButtonIcon="pi pi-plus"
                     decrementButtonIcon="pi pi-minus" [min]="1" [max]="6" styleClass="input-number"></p-inputNumber>
    </div>
  </div>
</p-dialog>
