<p-toast id="commandEditor"></p-toast>
<div class="flex flex-wrap gap-3">
<ng-container *ngIf="uiCommand?.type === 'media_player'">
  <div class="flex align-items-center">
    <label for="media_player">Media player</label>
  </div>
  <div class="flex align-items-center">
    <p-dropdown id="media_player" [(ngModel)]="selectedEntity" [options]="mediaPlayers" (ngModelChange)="mediaPlayerSelected($event)">
      <ng-template pTemplate="selectedItem">
        {{Helper.getEntityName(selectedEntity)}}
      </ng-template>
      <ng-template let-item pTemplate="item">
        {{Helper.getEntityName(item)}} ({{item.entity_id}})
      </ng-template>
    </p-dropdown>
  </div>
  <div class="flex align-items-center">
    {{uiCommand!.media_player_id}}
  </div>
</ng-container>
<ng-container *ngIf="uiCommand?.type !== 'media_player'">
  <div class="flex align-items-center">
    <label for="entity">Entity</label>
  </div>
  <div class="flex align-items-center">
    <p-dropdown id="entity" [(ngModel)]="selectedEntity" [options]="activityEntities" (ngModelChange)="entitySelected($event)">
      <ng-template pTemplate="selectedItem">
        {{Helper.getEntityName(selectedEntity)}}
      </ng-template>
      <ng-template let-item pTemplate="item">
        {{Helper.getEntityName(item)}} ({{item.entity_id}})
      </ng-template>
    </p-dropdown>
  </div>
  <div class="flex align-items-center">
    <label for="command">Command</label>
  </div>
  <div class="flex align-items-center">
    <p-dropdown id="command" [(ngModel)]="selectedCommand" [options]="entityCommands" (ngModelChange)="commandSelected($event)">
      <ng-template pTemplate="selectedItem">
        {{Helper.getEntityName(selectedCommand)}}
      </ng-template>
      <ng-template let-item pTemplate="item">
        {{Helper.getEntityName(item)}}
      </ng-template>
    </p-dropdown>
  </div>
</ng-container>
</div>
