.icon-selected
{
  cursor: pointer;
  padding: 5px;
  transition: 300ms ease-out;
}

.icon-selected:hover
{
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
  border: 1px solid rgba(110, 109, 109, 1);
  background-color: rgba(204, 204, 204, 0.5);
  box-shadow: -1px 1px 17px 7px rgba(0, 0, 0, 0.3);
}

.input-number input
{
  width: 40px !important;
}
