<div *ngIf="mediaEntity" class="flex justify-content-center media-card" style="width: 100%;height:100%">
<div class="power-button" *ngIf="checkFeature(mediaEntity, 'on_off') || checkFeature(mediaEntity, 'toggle')">
  <app-button *ngIf="!isPowerOn(mediaEntity)" icon="pi pi-power-off" [rounded]="true" (click)="powerToggle(mediaEntity)"
            size="small" pTooltip="Power toggle" severity="secondary" [scale]="scale"/>
  <app-button *ngIf="isPowerOn(mediaEntity)" icon="pi pi-power-off" [rounded]="true" (click)="powerToggle(mediaEntity)"
              size="small" pTooltip="Power toggle" [scale]="scale"/>
</div>
<div class="close-button" *ngIf="closable">
  <app-button icon="pi pi-times" [rounded]="true" (click)="closeEntity(mediaEntity)"
            size="small" severity="secondary" [scale]="scale" [text]="true"/>
</div>
<div class="flex flex-column align-content-start gap-1" style="width: 100%;height:100%">
  <div class="flex flex-wrap align-content-center justify-content-center card-title"  cdkDragHandle [style]="'margin-bottom:0;text-align:center;font-size:'+22*scale+'px'">
    <ng-container *ngIf="headerTemplate" [ngTemplateOutlet]="headerTemplate"/>
    <ng-container *ngIf="!headerTemplate"><app-scrolling-text [text]="websocketService.getEntityName(mediaEntity)" style="width:100%"/></ng-container>
  </div>
  <div class="flex gap-1" style="width:100%;height:100%">
    <div *ngIf="mediaEntity?.new_state?.attributes?.media_image_url"  class="flex-initial flex align-items-center" [style]="'max-width:'+(scale*380)+'px; max-height: '+(300*scale)+'px'">
      <img class="media-image" *ngIf="mediaEntity?.new_state?.attributes?.media_image_url && !mediaEntity?.new_state?.attributes?.media_image_proxy" [src]="mediaEntity.new_state!.attributes!.media_image_url!"
           [alt]="mediaEntity.new_state!.attributes!.media_title!"/>
      <img class="media-image" *ngIf="mediaEntity?.new_state?.attributes?.media_image_url && mediaEntity?.new_state?.attributes?.media_image_proxy" [src]="'/api/proxy?url='+mediaEntity.new_state!.attributes!.media_image_url!"
           [alt]="mediaEntity.new_state!.attributes!.media_title!"/>
    </div>
    <div class="flex flex-column justify-content-around gap-1"
         [style]="{'height':'100%','width': '100%','max-width': mediaEntity.new_state?.attributes?.media_image_url ? (300*scale)+'px' : (800*scale)+'px'}">
        <div class="flex flex-wrap align-content-center justify-content-around column-gap-1" style="width: 100%">
          <p-tag *ngIf="mediaEntity.new_state?.attributes?.state" [value]="mediaEntity.new_state!.attributes!.state!" [severity]="getStatusStyle(mediaEntity.new_state!.attributes!.state!)"
                 (click)="clickState(mediaEntity)" styleClass="active-tag" pTooltip="Play / Pause" [style]="{'scale': scale}"/>
          <app-dropdown-over *ngIf="mediaEntity.new_state!.attributes!.source" [style]="'scale:'+scale" [value]="mediaEntity.new_state!.attributes!.source!" [options]="mediaEntity.new_state?.attributes?.source_list"
                             [textTemplate]="sourceValue" (valueChange)="sourceSelected(mediaEntity, $event)">
            <ng-template #sourceValue>
              <p-tag [value]="mediaEntity.new_state!.attributes!.source!" severity="secondary"></p-tag>
            </ng-template>
          </app-dropdown-over>
          <app-dropdown-over *ngIf="mediaEntity.new_state!.attributes!.sound_mode" [style]="'scale:'+scale" [value]="mediaEntity.new_state!.attributes!.sound_mode!" [options]="mediaEntity.new_state?.attributes?.sound_mode_list"
                             [textTemplate]="soundModeValue" (valueChange)="soundModeSelected(mediaEntity, $event)">
            <ng-template #soundModeValue>
              <p-tag [value]="mediaEntity.new_state!.attributes!.sound_mode!" severity="contrast"></p-tag>
            </ng-template>
          </app-dropdown-over>
        </div>
        <div class="flex align-items-center justify-content-center" *ngIf="mediaEntity?.new_state?.attributes?.media_title">
          <app-scrolling-text [text]="mediaEntity.new_state!.attributes!.media_title!" class="card-info"
                              [textStyle]="textStyle" style="width: 100%"/>
        </div>
        <div class="flex align-items-center justify-content-center" *ngIf="mediaEntity?.new_state?.attributes?.media_artist">
          <app-scrolling-text [text]="mediaEntity.new_state!.attributes!.media_artist!" class="card-info" [textStyle]="textStyle"
                              style="width: 100%"/>
        </div>
        <div class="flex align-items-center justify-content-center" *ngIf="mediaEntity.new_state!.attributes!.media_album!">
          <app-scrolling-text [text]="mediaEntity.new_state!.attributes!.media_album!" class="card-info" [textStyle]="textStyle"
                              style="width: 100%"/>
        </div>
        <div class="flex align-items-center justify-content-around" *ngIf="hasMediaControls(mediaEntity)" style="width: 100%">
          <app-button *ngIf="checkFeature(mediaEntity, 'rewind')" [scale]="scale" (click)="mediaAction(mediaEntity, 'media_player.rewind')" icon="icon icon-bw" size="small" pTooltip="Rewind" [rounded]="true" [outlined]="true" class="uc-button"/>
          <app-button *ngIf="checkFeature(mediaEntity, 'stop')" [scale]="scale" (click)="mediaAction(mediaEntity, 'media_player.stop')" icon="icon icon-stop" size="small" pTooltip="Stop" [rounded]="true" [outlined]="true" class="uc-button"/>
          <app-button *ngIf="checkFeature(mediaEntity, 'play_pause')" [scale]="scale" (click)="mediaAction(mediaEntity, 'media_player.play_pause')" icon="icon icon-play-pause" size="small" pTooltip="Play pause" [rounded]="true" [outlined]="true" class="uc-button"/>
          <app-button *ngIf="checkFeature(mediaEntity, 'fast_forward')" [scale]="scale" (click)="mediaAction(mediaEntity, 'media_player.fast_forward')" icon="icon icon-ff" size="small" pTooltip="Fast foward" [rounded]="true" [outlined]="true" class="uc-button"/>
        </div>
        <div class="flex align-items-center justify-content-around" *ngIf="checkFeature(mediaEntity, ['previous', 'next', 'channel_switcher'])" style="width: 100%">
          <app-button *ngIf="checkFeature(mediaEntity, 'previous')" [scale]="scale" (click)="mediaAction(mediaEntity, 'media_player.previous')" icon="icon icon-prev" size="small" pTooltip="Previous chapter" [rounded]="true" [outlined]="true" class="uc-button"/>
          <app-button *ngIf="checkFeature(mediaEntity, 'next')" [scale]="scale" (click)="mediaAction(mediaEntity, 'media_player.next')" icon="icon icon-next" size="small" pTooltip="Next chapter" [rounded]="true" [outlined]="true" class="uc-button"/>
          <app-button *ngIf="checkFeature(mediaEntity, 'channel_switcher')" [scale]="scale" (click)="mediaAction(mediaEntity, 'media_player.channel_down')" icon="icon icon-down-arrow" size="small" pTooltip="Previous channel" [rounded]="true" [outlined]="true" class="uc-button"/>
          <app-button *ngIf="checkFeature(mediaEntity, 'channel_switcher')" [scale]="scale"  (click)="mediaAction(mediaEntity, 'media_player.channel_up')" icon="icon icon-up-arrow" size="small" pTooltip="Next channel" [rounded]="true" [outlined]="true" class="uc-button"/>
        </div>
        <div class="flex flex-column" style="width: 100%">
          <div *ngIf="mediaEntity.new_state?.attributes?.media_position && mediaEntity.new_state?.attributes?.media_duration &&
                      mediaEntity.new_state!.attributes!.media_duration! > 0"
               class="flex align-items-center justify-content-center" style="width: 100%; height: 100%">
            <app-slider [value]="Math.round(websocketService.getMediaPosition(mediaEntity)*100/mediaEntity.new_state!.attributes!.media_duration!)"
                        style="width: 100%; height: 100%" (valueChange)="updatePosition($event, mediaEntity)"
                        [textValue]="formatDuration(websocketService.getMediaPosition(mediaEntity))" [scale]="scale"
                        [editable]="checkFeature(mediaEntity, 'seek')" [max]="formatDuration(mediaEntity.new_state!.attributes!.media_duration!)"></app-slider>
            <b [style]="'font-size:'+scale*11" *ngIf="mediaEntity.new_state?.attributes?.media_position &&
            (!mediaEntity.new_state?.attributes?.media_duration ||
                      mediaEntity.new_state!.attributes!.media_duration! == 0)">
              {{formatDuration(websocketService.getMediaPosition(mediaEntity))}}</b>
          </div>
        </div>
        <div class="flex align-items-center justify-content-around" [style]="'width: 100%'"
             *ngIf="checkFeature(mediaEntity, ['volume', 'volume_up_down', 'mute_toggle', 'mute'])">
          <app-button *ngIf="checkFeature(mediaEntity, 'mute_toggle')" (click)="mediaAction(mediaEntity, 'media_player.mute_toggle')" [scale]="scale"
                    icon="icon icon-mute" size="small" pTooltip="Mute" [rounded]="true" [outlined]="true" class="uc-button"/>
          <app-button *ngIf="!checkFeature(mediaEntity, 'mute_toggle') && checkFeature(mediaEntity, 'mute')"
                    (click)="mediaAction(mediaEntity, 'media_player.mute')"  severity="secondary"
                    icon="icon icon-mute" size="small" pTooltip="Mute" [rounded]="true" [outlined]="true" class="uc-button" [scale]="scale"/>
          <app-button *ngIf="!checkFeature(mediaEntity, 'mute_toggle') && checkFeature(mediaEntity, 'unmute')"
                    (click)="mediaAction(mediaEntity, 'media_player.unmute')"
                    icon="icon icon-mute" size="small" pTooltip="Unmute" [rounded]="true" [outlined]="true" class="uc-button" [scale]="scale"/>
          <app-button *ngIf="checkFeature(mediaEntity, 'volume_up_down')"
                    (click)="mediaAction(mediaEntity, 'media_player.volume_down')"
                    icon="icon icon-minus" size="small" pTooltip="Volume -" [rounded]="true" [outlined]="true" class="uc-button" [scale]="scale"/>
          <app-button *ngIf="checkFeature(mediaEntity, 'volume_up_down')"
                    (click)="mediaAction(mediaEntity, 'media_player.volume_up')"
                    icon="icon icon-plus" size="small" pTooltip="Volume +" [rounded]="true" [outlined]="true" class="uc-button" [scale]="scale"/>
          <app-slider [value]="Math.round(mediaEntity.new_state!.attributes!.volume!)" [style]="'width: 100%;min-width:'+120*scale+'px'" (valueChange)="updateVolume($event, mediaEntity)"
                      [scale]="scale" [backgroundStyle]="'linear-gradient(90deg, rgba(122,122,122,1) 0%, rgba(255,82,0,1) 71%)'"
                      [textValue]="'Volume '+Helper.getNumber(mediaEntity.new_state!.attributes!.volume!)+'%'+
                    (Helper.isMuted(mediaEntity) ? ' (muted)' : '')"
                      [editable]="checkFeature(mediaEntity, 'volume')" [secondaryState]="Helper.isMuted(mediaEntity)"/>
        </div>
      </div>
  </div>

</div>


</div>
