.control-edit {
  display: none;
  position:absolute;
  /*width: 100%;*/
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  min-width: 50px;
  transition: all 0.5s ease;
}

.control-wrapper {
  min-width: 50px;
  /*height: 40px;*/
}

.control-wrapper:hover .control-text
{
  opacity: 0;
}

.control-wrapper:hover .control-edit
{
  display:block;
  opacity: 1;
  width: 100%;
  min-width: 120px;
  max-width: 120px;
}

.control-text {
  width: 100%;
  height: 100%;
  position: relative;
  text-align: center;
  opacity: 1;
}

.control-text:hover {
  cursor: pointer;
}

.smaller-dropdown .p-inputtext
{
  font-size: 0.6rem;
}
