.grid-item-static {
  /*background-color: rgba(28, 28, 28, 0.8);*/
  border: 1px solid rgb(255, 255, 255);
  padding: 5px;
  text-align: center;
  min-height: 75px;
  width: 100%;
  height: 100%;
  user-select: auto;
}

.grid-item {
  /*background-color: rgba(28, 28, 28, 0.8);*/
  border: 1px solid rgb(255, 255, 255);
  padding: 5px;
  text-align: center;
  min-height: 75px;
  cursor: move;
  width: 100%;
  height: 100%;
}

.grid-item-selection {
  /*background-color: rgba(28, 28, 28, 0.8);*/
  border: 1px solid rgb(255, 255, 255);
  padding: 5px;
  text-align: center;
  min-height: 75px;
  cursor: pointer;
  width: 100%;
  height: 100%;
}

.grid-item-selected {
  background-color: rgba(70, 116, 223, 0.8);
  border: 1px solid rgb(255, 255, 255);
  padding: 5px;
  text-align: center;
  min-height: 75px;
  cursor: pointer;
  width: 100%;
  height: 100%;
}

.grid-item.over {
  border: 3px dotted #666;
}

/*[draggable] {
  user-select: none;
}*/
