<p-toast key="activityGrid"></p-toast>
<app-ui-command-editor #commandeditor (updateItem)="updateGridItem($event)"
                       (addItem)="addGridItem($event)" (deleteItem)="deleteGridItem($event)"
                       [remote]="remote" [activity]="activity" [gridItem]="gridItem"
                       [gridCommands]="gridCommands" [grid]="currentPage?.grid"></app-ui-command-editor>
<div class="grid-container" *ngIf="currentPage"
     [style]="{'grid-template-columns': 'auto '.repeat(currentPage.grid.width), 'width': gridPixelWidth+'px', 'height': gridPixelHeight+'px'}">
  <grid-button [editable]="editMode" *ngFor="let item of gridCommands; let index=index" [source]="gridItemSource" [item]="item" [grid]="currentPage.grid" [style]="getGridItemSize(item)"
               (sourceSelected)="gridSourceSelected($event)" (destinationSelected)="gridDestinationSelected($event)" [gridCommands]="gridCommands"
               (itemClicked)="gridItemClicked($event)" [selectionMode]="selectionMode" [runMode]="runMode">
    <ng-container *ngIf="Helper.isStandardIcon(item?.icon)">
      <span [class]="Helper.getIconClass(item?.icon)"></span>
    </ng-container>
    <ng-container *ngIf="Helper.isCustomIcon(item?.icon)">
      <img [src]="Helper.getIconURL(remote!, item?.icon)" [alt]="item?.icon" width="70" height="70">
    </ng-container>

    <ng-container *ngIf="item?.text">
      <span><b>{{item?.text}}</b></span><br>
    </ng-container>
    <ng-container *ngIf="!runMode && item && item.command != undefined">
      <p-chip [label]="getEntityName((item.command | as : Command)?.entity_id!)"
              [style]="Helper.getStyle(getEntityName((item.command | as : Command)?.entity_id!))"></p-chip><br><br>
      <p-tag [value]="Helper.getCommandName(item.command, configEntityCommands)" severity="secondary"></p-tag>
    </ng-container>
    <span *ngIf="item?.media_player_id" style="text-align: center">
        <p-chip *ngIf="!runMode" [label]="getEntityName(item?.media_player_id!)"
                [style]="Helper.getStyle(getEntityName(item?.media_player_id!))"></p-chip>
        <div style="position: relative; width: 100%;height: 100%">
          <img *ngIf="!runMode" src="/assets/icons/media_player.svg" alt="Media player" class="media_player_icon">
          <ng-container *ngIf="runMode">
            <ng-container *ngFor="let mediaEntity of mediaStates">
              <app-activity-media-entity *ngIf="mediaEntity.entity_id === item.media_player_id" [mediaEntity]="mediaEntity" [remote]="remote"/>
            </ng-container>
          </ng-container>
        </div>
      </span>
    <ng-container *ngIf="!runMode">
      <ng-container *ngFor="let param of Helper.getParams(item?.command)">
        <ng-container *ngIf="Helper.getParam(item?.command, param, configEntityCommands)">
          {{Helper.getEntityName(Helper.getParam(item?.command, param, configEntityCommands))}} :
          {{Helper.getParamValue(item?.command, param)}}
        </ng-container>
      </ng-container>
    </ng-container>
  </grid-button>
</div>
<app-ui-command-editor #commandeditor (updateItem)="updateGridItem($event)"
    (addItem)="addGridItem($event)" (deleteItem)="deleteGridItem($event)"
    [remote]="remote" [activity]="activity" [gridItem]="gridItem" [gridCommands]="gridCommands" [grid]="currentPage?.grid"></app-ui-command-editor>
