.pagination-container
{
  min-width: 70px;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  background-color: rgb(113, 113, 113);
  border-radius: 45px;
  height: 25px;
  padding: 0 15px 0 15px;
  transition: all 0.5s ease-in-out;
  opacity: 0.6;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: top left;
  scale: 0.6;
}

.pagination-container-small {
  scale: 1;
}

.pagination-container:hover {
  opacity: 1;
  scale:1;
}

.pagination-collection
{
  display: flex;
  flex-direction: row;
  transform: translateZ(0);
  transition: all 0.5s ease-out;
  -webkit-backface-visibility: hidden;
  align-items: center;
  justify-content: center;
}

.pagination-item
{
  flex: 1 0 100%;
}

.dot {
  height: 8px;
  width: 8px;
  background-color: #8e8e8e;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.active-dot {
  height: 12px;
  width: 12px;
  box-shadow: 0 0 45px 6px rgba(255, 255, 255, 0.9);
  background-color: #ffffff;
  border-radius: 50%;
  display: inline-block;
  transition: all 0.5s ease-in-out;
}

