.dot {
  height: 8px;
  width: 8px;
  background-color: #8e8e8e;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  margin-left: 4px;
  margin-right: 4px;
  transition: all 0.5s ease-in-out;
}

.active-dot {
  height: 10px;
  width: 10px;
  box-shadow: 0 0 45px 6px rgba(255, 255, 255, 0.9);
  background-color: #ffffff;
  border-radius: 50%;
  display: inline-block;
  margin-left: 6px;
  margin-right: 6px;
  transition: all 0.5s ease-in-out;
}

.pagination-container {
  background-color: rgb(113, 113, 113);
  border-radius: 45px;
  padding: 2px;
  height: 15px;
  transition: all 0.5s ease-in-out;
  opacity: 0.6;
}

.pagination-container:hover .active-dot {
  scale: 1.4;
  margin-left: 12px;
  margin-right: 12px;
}

.pagination-container:hover .dot {
  scale: 1.4;
  margin-left: 12px;
  margin-right: 12px;
}

.pagination-container:hover {
  padding: 15px;
  height: 30px;
  opacity: 1;
}
