<ng-container *ngIf="icon && Helper.isStandardIcon(icon)">
  <span [class]="Helper.getIconClass(icon)" [style]="'font-size: '+fontSize+'px'" (click)="onClick($event)"></span>
</ng-container>
<ng-container *ngIf="remote && icon && Helper.isCustomIcon(icon)">
  <img [src]="Helper.getIconURL(remote, icon!)" [alt]="icon" [width]="size" [height]="size" (click)="onClick($event)">
</ng-container>
<div *ngIf="!remote || !icon" [style]="'width: '+size+'px; height: '+size+'px'" (click)="onClick($event)"></div>
