.grid-container {
  display: grid;
  grid-gap: 0;
  column-gap: 0;
  row-gap: 0;
  background-color: rgba(0, 0, 0, 1);
  padding: 0;
  margin: auto;
  width: 50%;
}

.icon {
   order: 1;
   font-size: 3.688rem;
   color: var(--vt-c-grex-light);
   width: unset;
   height: unset
 }

.grid-size input
{
  width: 35px !important;
}

.toolbar-included-entities {
  padding: 0.1rem;
}

.media_player_icon
{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  height: 40%;
}
