<p-toast key="activity"></p-toast>
<p-overlayPanel id="buttonpanel" #buttonpanel [style]="buttonPanelStyle" [showCloseIcon]="true">
  <ng-template pTemplate="content">
    <h3>{{mouseOverButtonName!}}</h3>
    <ng-container *ngIf="mouseoverButton && mouseoverButton.short_press">
      <br>Short press :
      <p-chip [label]="getEntityName(mouseoverButton.short_press.entity_id)"
              [style]="getStyle(getEntityName(mouseoverButton.short_press.entity_id))"></p-chip>&nbsp;
      <p-chip [label]="mouseoverButton.short_press.cmd_id" styleClass="chip-command"
              [style]="getStyle(mouseoverButton.short_press.cmd_id)"></p-chip>
      <ng-container *ngIf="mouseoverButton.short_press.params">{{getParams(mouseoverButton.short_press)}}</ng-container>
    </ng-container>
    <ng-container *ngIf="mouseoverButton && mouseoverButton.long_press">
      <br>Long press :
      <p-chip [label]="getEntityName(mouseoverButton.long_press.entity_id)"
              [style]="getStyle(getEntityName(mouseoverButton.long_press.entity_id))"></p-chip>&nbsp;
      <p-chip [label]="mouseoverButton.long_press.cmd_id" styleClass="chip-command"
              [style]="getStyle(mouseoverButton.long_press.cmd_id)"></p-chip>
      <ng-container *ngIf="mouseoverButton.long_press.params">{{getParams(mouseoverButton.long_press)}}</ng-container>
    </ng-container>
  </ng-template>
</p-overlayPanel>
<app-ui-command-editor #commandeditor (updateItem)="updateGridItem($event)"
  (addItem)="addGridItem($event)" (deleteItem)="deleteGridItem($event)"
  [remote]="remote" [activity]="activity" [gridItem]="gridItem" [gridCommands]="gridCommands" [grid]="currentPage?.grid"></app-ui-command-editor>
<div class="flex align-content-left flex-wrap gap-3" *ngIf="!editMode">
  <div class="flex align-items-center justify-content-center" *ngIf="!editMode && remote && activity?.icon">
    <span id="icon" class="icon-selected">
      <ng-container *ngIf="Helper.isStandardIcon(activity!.icon!)">
        <span [class]="Helper.getIconClass(activity!.icon!)"></span>
      </ng-container>
      <ng-container *ngIf="Helper.isCustomIcon(activity!.icon!)">
        <img [src]="Helper.getIconURL(remote!, activity!.icon!)" [alt]="activity!.icon!" width="70" height="70">
      </ng-container>
    </span>
  </div>
  <div class="flex align-items-center justify-content-center">
    <h3>Activity</h3>
  </div>
  <div class="flex align-items-center justify-content-center">
    <p-button label="Edit" [routerLink]="['/activity/edit', activity?.entity_id]" severity="warning" icon="pi pi-pen-to-square" size="small"></p-button>&nbsp;&nbsp;
  </div>
  <div class="flex align-items-center justify-content-center">
    <p-button label="Copy to clipboard" (onClick)="copyToClipboard(activity, 'Activity '+activity?.name+' copied to clipboard')" icon="pi pi-copy" size="small"></p-button>
  </div>
  <div class="flex align-items-center justify-content-center">
    <p-button label="Clone" [routerLink]="['/activity/clone', activity?.entity_id]" severity="warning" icon="pi pi-clone" size="small"></p-button>
  </div>
  <div class="flex align-items-center justify-content-center">
    <p-button label="Save to file" (onClick)="saveActivity()" icon="pi pi-save" size="small" severity="success"></p-button>
  </div>
  <div class="flex align-items-center justify-content-center">
    <p-button label="Delete" (onClick)="deleteActivity($event)" icon="pi pi-trash" size="small" severity="danger"></p-button>
  </div>
</div>
<div class="flex align-content-left flex-wrap gap-3">
  <div class="flex align-items-start justify-content-center">
    <app-activity-sequence [remote]="remote" [activity]="activity" [editable]="editMode" sequenceName="on" (onUpdate)="onChange.emit()"></app-activity-sequence>
  </div>
  <div class="flex align-items-start justify-content-center">
    <app-activity-sequence [remote]="remote" [activity]="activity" [editable]="editMode" sequenceName="off" (onUpdate)="onChange.emit()"></app-activity-sequence>
  </div>
</div>
<div class="flex align-content-center justify-content-center flex-wrap gap-3">
  <div class="flex align-items-center justify-content-center">
    <h3>Page "{{currentPage?.name}}"</h3>
  </div>
  <div class="flex align-items-center justify-content-center">
    <p-button label="Save to file" (onClick)="savePage()" icon="pi pi-save" size="small" severity="success"></p-button>
  </div>
  <div class="flex align-items-center justify-content-center" *ngIf="currentPage">
    <p-button label="Copy page to clipboard" (onClick)="copyToClipboard(currentPage, 'Page '+currentPage.name+' copied to clipboard')" icon="pi pi-copy" size="small"></p-button>
  </div>
  <div class="flex align-items-center justify-content-center" *ngIf="editMode">
    <p-button label="Paste from clipboard" (onClick)="pastePage()" severity="warning" icon="pi pi-clipboard" size="small"></p-button>
  </div>
  <div class="flex align-items-center justify-content-center" *ngIf="editMode">
    <p-button label="Import from file" (onClick)="importPage()" severity="warning" icon="pi pi-file-import" size="small">
      <input #input_file_page type="file" style="display:none" (change)="loadInputFilePage($event)">
    </p-button>
  </div>
  <div class="flex align-items-center justify-content-center" *ngIf="editMode">
    <p-button label="Add a new page" (onClick)="addPage($event)" severity="success" icon="pi pi-file-plus" size="small"></p-button>
  </div>
  <div class="flex align-items-center justify-content-center" *ngIf="editMode">
    <p-button label="Delete current page" (onClick)="deletePage($event)" severity="danger" icon="pi pi-trash" size="small"></p-button>
  </div>
  <div class="flex align-items-center justify-content-center">
    <p-button *ngIf="!selectionMode" severity="secondary" label="Selection mode" (onClick)="toggleSelectionMode()" icon="pi pi-pen-to-square" size="small"></p-button>
    <p-button *ngIf="selectionMode" severity="secondary" label="Normal mode" (onClick)="toggleSelectionMode()" icon="pi pi-pen-to-square" size="small"></p-button>
  </div>
  <div class="flex align-items-center justify-content-center" *ngIf="selection.length > 0">
    <p-button [label]="'Copy '+selection.length+' commands'" (onClick)="copySelectionToClipboard()" icon="pi pi-copy" size="small"></p-button>
  </div>
  <div class="flex align-items-center justify-content-center">
    <p-button [label]="'Paste commands'" (onClick)="pasteSelectionFomClipboard()" icon="pi pi-clipboard" size="small"></p-button>
  </div>
</div>

<ng-container *ngIf="currentPage">
  <br>
  <p-paginator (onPageChange)="onPageChange($event)" [first]="firstPage" [rows]="1" [totalRecords]="activity?.options?.user_interface?.pages?.length"></p-paginator>
  <div class="grid-container" *ngIf="toggleGrid"
       [style]="{'grid-template-columns': 'auto '.repeat(currentPage.grid.width), 'width': gridPixelWidth+'px', 'height': gridPixelHeight+'px'}">
    <grid-button [editable]="editMode" *ngFor="let item of gridCommands; let index=index" [source]="gridItemSource" [item]="item" [grid]="currentPage.grid" [style]="getGridItemSize(item)"
                 (sourceSelected)="gridSourceSelected($event)" (destinationSelected)="gridDestinationSelected($event)" [gridCommands]="gridCommands"
                 (itemClicked)="gridItemClicked($event)" [selectionMode]="selectionMode">
      <ng-container *ngIf="Helper.isStandardIcon(item?.icon)">
        <span [class]="Helper.getIconClass(item?.icon)"></span>
      </ng-container>
      <ng-container *ngIf="Helper.isCustomIcon(item?.icon)">
        <img [src]="Helper.getIconURL(remote!, item?.icon)" [alt]="item?.icon" width="70" height="70">
      </ng-container>

      <ng-container *ngIf="item?.text">
        <span><b>{{item?.text}}</b></span><br>
      </ng-container>
      <ng-container *ngIf="item && item.command != null">
        <p-chip [label]="getEntityName((item.command | as : Command)?.entity_id!)"
                [style]="getStyle(getEntityName((item.command | as : Command)?.entity_id!))"></p-chip><br><br>
        <p-chip [label]="(item.command | as : Command)?.cmd_id" styleClass="chip-command"
                [style]="getStyle((item.command | as : Command)?.cmd_id!)"></p-chip>
      </ng-container>
      <span *ngIf="item?.media_player_id != null" style="text-align: center">
        <p-chip [label]="getEntityName(item?.media_player_id!)"
                [style]="getStyle(getEntityName(item?.media_player_id!))"></p-chip><br><br>
        <img src="/assets/icons/play-button.png" alt="Media player" width="100px" height="100px"><br>
      </span>
      {{getParams(item?.command)}}
    </grid-button>
  </div>
</ng-container>
  <div style="text-align: center">
    <img src="assets/remote/remote.svg" id="remote" onload="SVGInject(this)">
  </div>
<app-button-editor [activity]="activity" [remote]="remote" [button]="selectedButton" (buttonChanged)="buttonChanged($event)"></app-button-editor>
  <ng-container *ngIf="activity"><br><p-button label="Show data" (onClick)="showDump = true"></p-button>&nbsp;
    <p-button *ngIf="showDump"  label="Copy data to clipboard" (onClick)="copyToClipboard(activity)"></p-button>
    <ngx-json-viewer *ngIf="showDump" [json]="activity"></ngx-json-viewer>
  </ng-container>
<p-confirmDialog key="activityViewerDialog" rejectButtonStyleClass="p-button-outlined" />
