<p-toast key="activity"></p-toast>
<p-toolbar *ngIf="!editMode">
<div class="flex align-content-left flex-wrap gap-3">
  <div class="flex align-items-center justify-content-center" *ngIf="!editMode && remote && activity?.icon">
    <span id="icon" class="icon-selected">
      <ng-container *ngIf="Helper.isStandardIcon(activity!.icon!)">
        <span [class]="Helper.getIconClass(activity!.icon!)"></span>
      </ng-container>
      <ng-container *ngIf="Helper.isCustomIcon(activity!.icon!)">
        <img [src]="Helper.getIconURL(remote!, activity!.icon!)" [alt]="activity!.icon!" width="70" height="70">
      </ng-container>
    </span>
  </div>
  <div class="flex align-items-center justify-content-center">
    <h3>Activity</h3>
  </div>
  <div class="flex align-items-center justify-content-center">
    <p-button label="Edit" [routerLink]="['/activity/edit', activity?.entity_id]" severity="warning" icon="pi pi-pen-to-square" size="small"></p-button>&nbsp;&nbsp;
  </div>
  <div class="flex align-items-center justify-content-center">
    <p-button label="Copy to clipboard" (onClick)="copyToClipboard(activity, 'Activity '+activity?.name+' copied to clipboard')" icon="pi pi-copy" size="small"></p-button>
  </div>
  <div class="flex align-items-center justify-content-center">
    <p-button label="Clone" [routerLink]="['/activity/clone', activity?.entity_id]" severity="warning" icon="pi pi-clone" size="small"></p-button>
  </div>
  <div class="flex align-items-center justify-content-center">
    <p-button label="Save to file" (onClick)="saveActivity()" icon="pi pi-save" size="small" severity="success"></p-button>
  </div>
  <div class="flex align-items-center justify-content-center">
    <p-button label="Delete" (onClick)="deleteActivity($event)" icon="pi pi-trash" size="small" severity="danger"></p-button>
  </div>
</div>
</p-toolbar>
<p-toolbar styleClass="toolbar-included-entities"><h3>Included entities</h3>
  <p-dropdown *ngIf="editMode" [options]="entities" [(ngModel)]="includedEntity" (ngModelChange)="addIncludedEntity($event)" placeholder="Add entity">
    <ng-template let-item pTemplate="item">
      <div><b>{{item.name}}</b> [<span [style]="{'color': getBackgroundColor(item.entity_type)}">{{item.entity_type}}</span>] ({{item.entity_id}})</div>
    </ng-template>
    <ng-template let-item pTemplate="selectedItem">
      <div><b>{{item.name}}</b> [<span [style]="{'color': getBackgroundColor(item.entity_type)}">{{item.entity_type}}</span>] ({{item.entity_id}})</div>
    </ng-template>
  </p-dropdown>
  <p-chip *ngFor="let entity of activity?.options?.included_entities" label="{{Helper.getEntityName(entity)}} ({{Helper.getEntityType(entity)}})"
          [style]="getStyle(Helper.getEntityType(entity))" [pTooltip]="entity.entity_id" [removable]="editMode"
          (onRemove)="deleteIncludedEntity(entity, $event)"></p-chip>&nbsp;
</p-toolbar>
<h3>Buttons mapping and startup/stop sequences</h3>
<div class="flex justify-content-center flex-wrap gap-6">
  <div class="flex align-items-start justify-content-center">
    <app-activity-buttons [remote]="remote" [activity]="activity" [editMode]="editMode" class="flex"/>
  </div>
  <div class="flex align-items-start justify-content-center">
    <app-activity-sequence [remote]="remote" [activity]="activity" [editable]="editMode" sequenceName="on" (onUpdate)="onChange.emit()"></app-activity-sequence>
  </div>
  <div class="flex align-items-start justify-content-center">
    <app-activity-sequence [remote]="remote" [activity]="activity" [editable]="editMode" sequenceName="off" (onUpdate)="onChange.emit()"></app-activity-sequence>
  </div>
</div><br>
<p-toolbar>
<div class="flex align-content-left flex-wrap gap-3">
  <div class="flex align-items-center justify-content-center">
    <h3>Page "{{currentPage?.name}}"</h3>
  </div>
  <div class="flex align-items-center justify-content-center">
    <p-button label="Save to file" (onClick)="savePage()" icon="pi pi-save" size="small" severity="success"></p-button>
  </div>
  <div class="flex align-items-center justify-content-center" *ngIf="currentPage">
    <p-button label="Copy page to clipboard" (onClick)="copyToClipboard(currentPage, 'Page '+currentPage.name+' copied to clipboard')" icon="pi pi-copy" size="small"></p-button>
  </div>
  <div class="flex align-items-center justify-content-center" *ngIf="editMode">
    <p-button label="Paste from clipboard" (onClick)="pastePage()" severity="warning" icon="pi pi-clipboard" size="small"></p-button>
  </div>
  <div class="flex align-items-center justify-content-center" *ngIf="editMode">
    <p-button label="Import from file" (onClick)="importPage()" severity="warning" icon="pi pi-file-import" size="small">
      <input #input_file_page type="file" style="display:none" (change)="loadInputFilePage($event)">
    </p-button>
  </div>
  <div class="flex align-items-center justify-content-center" *ngIf="editMode">
    <p-button label="Delete current page" (onClick)="deletePage($event)" severity="danger" icon="pi pi-trash" size="small"></p-button>
  </div>
  <div class="flex align-items-center justify-content-center">
    <p-button *ngIf="!selectionMode" severity="secondary" label="Selection mode" (onClick)="toggleSelectionMode()" icon="pi pi-pen-to-square" size="small"></p-button>
    <p-button *ngIf="selectionMode" severity="secondary" label="Normal mode" (onClick)="toggleSelectionMode()" icon="pi pi-pen-to-square" size="small"></p-button>
  </div>
  <div class="flex align-items-center justify-content-center" *ngIf="selection.length > 0">
    <p-button [label]="'Copy '+selection.length+' commands'" (onClick)="copySelectionToClipboard()" icon="pi pi-copy" size="small"></p-button>
  </div>
  <div class="flex align-items-center justify-content-center">
    <p-button [label]="'Paste commands'" (onClick)="pasteSelectionFomClipboard()" icon="pi pi-clipboard" size="small"></p-button>
  </div>
</div>
</p-toolbar>
<div class="flex align-content-left flex-wrap gap-3">
  <ng-container *ngIf="activity?.options?.user_interface?.pages">
  <br>
    <div class="flex-grow-1 flex-column">
      <div class="flex align-items-center justify-content-center">
        <div class="flex-none" *ngIf="editMode && currentPage">
          <div class="flex-column">
            <div class="flex align-items-center justify-content-center">
              <b>Page name</b>
            </div>
            <input type="text" pInputText [(ngModel)]="currentPage.name" placeholder="Page name" style="min-width: 150px"/>
          </div>
        </div>
        <div class="flex-grow-1">
          <p-paginator (onPageChange)="onPageChange($event)" [first]="firstPage" [rows]="1" [totalRecords]="activity?.options?.user_interface?.pages?.length"></p-paginator>
        </div>
        <div class="flex-none" *ngIf="editMode && currentPage">
          <div class="flex-column">
            <div class="flex align-items-center justify-content-center">
              Grid size
            </div>
            <div class="flex align-items-center">
              <p-inputNumber [(ngModel)]="currentPage.grid.width" [showButtons]="true" buttonLayout="horizontal" spinnerMode="horizontal" [step]="1" pTooltip="Grid width"
                             decrementButtonClass="p-button-danger" incrementButtonClass="p-button-success" incrementButtonIcon="pi pi-plus" (ngModelChange)="updateButtonsGrid()"
                             decrementButtonIcon="pi pi-minus" [min]="gridSizeMin.width" [max]="screenLayout?.grid!.max.width" styleClass="grid-size"></p-inputNumber>
              <p-inputNumber [(ngModel)]="currentPage.grid.height" [showButtons]="true" buttonLayout="horizontal" spinnerMode="horizontal" [step]="1" pTooltip="Grid height"
                             decrementButtonClass="p-button-danger" incrementButtonClass="p-button-success" incrementButtonIcon="pi pi-plus" (ngModelChange)="updateButtonsGrid()"
                             decrementButtonIcon="pi pi-minus" [min]="gridSizeMin.height" [max]="screenLayout?.grid!.max.height" styleClass="grid-size"></p-inputNumber>
            </div>
          </div>
          </div>
      </div>
      <div class="flex align-items-center justify-content-center" style="width: 100%">
        <app-activity-grid [remote]="remote" [activity]="activity" [currentPage]="currentPage" [selectionMode]="selectionMode"
                           [width]="gridPixelWidth" [height]="gridPixelHeight"  [editMode]="editMode"  [style]="'width: '+gridPixelWidth+'px'"/>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="editMode">
    <app-activity-page-list [remote]="remote" [activity]="activity" [editable]="editMode" (onReorder)="onReorderPages($event)" (onSelectPage)="selectPage($event)"/>
  </ng-container>
</div>
  <ng-container *ngIf="activity"><br><p-button label="Show data" (onClick)="showDump = true"></p-button>&nbsp;
    <p-button *ngIf="showDump"  label="Copy data to clipboard" (onClick)="copyToClipboard(activity)"></p-button>
    <ngx-json-viewer *ngIf="showDump" [json]="activity"></ngx-json-viewer>
  </ng-container>
<p-confirmDialog key="activityViewerDialog" rejectButtonStyleClass="p-button-outlined" />
