.grid-container {
  display: grid;
  grid-gap: 0;
  column-gap: 0;
  row-gap: 0;
  background-color: rgba(0, 0, 0, 1);
  padding: 0;
  margin: 0;
  /*margin: auto;*/
  width: 50%;
  place-items: center;
}

.grid-item
{
  text-align: center;
  vertical-align: middle;
}

.grid-icon
{
  padding: 0;
  display: block;
  max-width:100%;
  max-height:100%;
  width: auto;
  height: auto;
}

.media_player_icon
{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  height: 40%;
}

.grid-size input
{
  width: 35px !important;
}

.icon {
  order: 1;
  font-size: 3.688rem;
  color: var(--vt-c-grex-light);
  width: unset;
  height: unset
}

.ui-pages-container
{
  width: 100%;
  overflow: hidden;
}

.ui-pages-collection
{
  display: flex;
  flex-direction: row;
  transform: translateZ(0);
  transition: all 0.5s ease-out;
  -webkit-backface-visibility: hidden;
  /*-webkit-transition: all 0.5s ease-out;*/
}

.ui-page-item
{
  flex: 1 0 100%;
}

.swipe {
  cursor: grab;
}
