<div class="progress-spinner" *ngIf="progress">
  <p-progressSpinner styleClass="w-4rem h-4rem" strokeWidth="8" fill="var(--surface-ground)" animationDuration=".5s"></p-progressSpinner>
</div>
<p-toast></p-toast>
<h2><img src="assets/logo.png" alt="" style="width:200px"/>&nbsp;&nbsp;Remote Two configuration toolkit</h2>
<p-menubar [model]="menuItems">
  <ng-template pTemplate="end">
    <div class="flex align-items-center gap-2">
      <ng-container *ngIf="selectedRemote">
        <span class="pi pi-chart-line"></span>
        <p-progressBar *ngIf="remoteStatus?.memory" [value]="remoteStatus!.memory!.available_memory!/remoteStatus!.memory!.total_memory!*100" [style]="{width: '100px'}"
            [pTooltip]="'Memory : '+Math.floor(remoteStatus!.memory!.available_memory!/1000000).toLocaleString()+' megabytes available on '
                +Math.floor(remoteStatus!.memory!.total_memory!/1000000).toLocaleString()">
          <ng-template pTemplate="content" let-value>
            <span>{{remoteStatus!.memory!.available_memory!/1000000 | number:'1.0-0'}} Mb</span>
          </ng-template>
        </p-progressBar>
        <span class="pi pi-database"></span>
        <p-progressBar *ngIf="remoteStatus?.filesystem?.user_data" [value]="remoteStatus!.filesystem!.user_data!.available!/
        (remoteStatus!.filesystem!.user_data!.available!+remoteStatus!.filesystem!.user_data!.used!)*100" [style]="{width: '100px'}"
                       [pTooltip]="'Storage : '+Math.floor(remoteStatus!.filesystem!.user_data!.available!/1000000).toLocaleString()+' megabytes available on '+
                        Math.floor((remoteStatus!.filesystem!.user_data!.available!+remoteStatus!.filesystem!.user_data!.used!)/1000000).toLocaleString()">
          <ng-template pTemplate="content" let-value>
            <span>{{remoteStatus!.filesystem!.user_data!.available/1000000 | number:'1.0-0'}} Mb</span>
          </ng-template>
        </p-progressBar>
      </ng-container>
      <p-dropdown [(ngModel)]="selectedRemote" [options]="remotes" placeholder="Select remote" (ngModelChange)="setRemote(selectedRemote!)">
        <ng-template pTemplate="selectedItem">
          <ng-container *ngIf="selectedRemote">{{selectedRemote.remote_name}} ({{selectedRemote.address}})</ng-container>
          <ng-container *ngIf="!selectedRemote">No remote selected</ng-container>
        </ng-template>
        <ng-template let-item pTemplate="item">
          {{item.remote_name}} ({{item.address}})
        </ng-template>
      </p-dropdown>
    </div>
  </ng-template>
</p-menubar>
<p-messages severity="info">
  <ng-template pTemplate>
    <div class="ml-2">Here you can review and upload custom integrations</div>
  </ng-template>
</p-messages>
<p-fileUpload
  mode="basic"
  name="file"
  chooseIcon="pi pi-upload"
  [url]="'/api/remote/'+selectedRemote?.address+'/intg/install'"
  accept=".gz,.tgz" maxFileSize="100000000"
  (onUpload)="onUploadIntegration($event)"
  (onBeforeUpload)="onUploadingIntegration($event)"
  [auto]="true"
  chooseLabel="Select integration driver to upload..." /><br>
<p-table [value]="driverIntegrations" styleClass="p-datatable-sm p-datatable-striped" [resizableColumns]="true"
         dataKey="message" columnResizeMode="expand">
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="name" pResizableColumn>Name<p-sortIcon field="name"></p-sortIcon></th>
      <th pSortableColumn="driver_id" pResizableColumn>Identifier<p-sortIcon field="driver_id"></p-sortIcon></th>
      <th pSortableColumn="driver_type" pResizableColumn>Driver type<p-sortIcon field="driver_type"></p-sortIcon></th>
      <th pSortableColumn="driver_state" pResizableColumn>Driver state<p-sortIcon field="driver_state"></p-sortIcon></th>
      <th pSortableColumn="version" pResizableColumn>Driver version<p-sortIcon field="version"></p-sortIcon></th>
      <th pSortableColumn="instance_count" pResizableColumn>Instances configured<p-sortIcon field="instance_count"></p-sortIcon></th>
      <th>Actions</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-integration>
    <tr>
      <td>{{Helper.getEntityName(integration)}}</td>
      <td>{{integration.driver_id}}{{integration.integration_id}}</td>
      <td><p-chip [label]="integration.driver_type" [style]="Helper.getStyle(integration.driver_type)"></p-chip></td>
      <td><p-chip [label]="integration.driver_state" [style]="Helper.getStyle(integration.driver_state)"></p-chip></td>
      <td>{{integration.version}}</td>
      <td><p-chip [label]="integration.instance_count" [style]="Helper.getStyle(integration.instance_count)"></p-chip></td>
      <td><p-button [pTooltip]="'Delete driver '+integration.name" (onClick)="deleteDriver(integration)"  [rounded]="true" severity="danger" icon="pi pi-times" size="small"></p-button></td>
    </tr>
  </ng-template>
</p-table>
