div[class="p-orderlist-controls"] {
  display: none !important;
}

.list-item-add {
  position: absolute;
  right: 5px;
  top: 5px;
}

.list-item-delete {
  position: absolute;
  right: 20px;
  top: 40%;
  padding-right: 10px;
  padding-left: 80px;
  opacity:0;
  transition: visibility 0.1s linear,opacity 0.1s linear;
}

.list-item-delete:hover {
  visibility: visible;
  opacity:1;
  cursor: pointer;
}
