<ng-container *ngIf="activity?.options?.sequences && sequenceName">
  <p-orderList [disabled]="!editable"
    [value]="activity!.options!.sequences![sequenceName]"
    [listStyle]="{ 'max-height': '30rem' }"
    [header]="'Sequence '+sequenceName"
    [dragdrop]="true">
    <ng-template let-command pTemplate="item">
      <div class="flex flex-wrap p-2 align-items-center gap-3" (click)="editCommand(command)">
        <app-icon *ngIf="getCommandEntity(command)" [remote]="remote" [icon]="getCommandEntity(command)?.icon"
                  [size]="50" [fontSize]="55" />
        <div class="flex-1 flex flex-column gap-2">
          <span class="font-bold">{{ getCommandEntity(command)?.name }}</span>
          <div class="flex align-items-center gap-2">
            <i class="pi pi-tag text-sm"></i>
            <span>
                {{ command?.["cmd_id"] }} {{ command?.["params"] }}
            </span>
          </div>
        </div>
        <span class="text-900">
            {{ getCommandParams(command) }}
        </span>
      </div>
    </ng-template>
  </p-orderList>
</ng-container>
<p-toast key="sequence"></p-toast>
<!--

<ng-container *ngFor="let command of activity?.options?.sequences">
  <app-command-editor [remote]="remote" [activity]="activity" [command]="command" (updateItem)="updateCommand()"></app-command-editor>
</ng-container>
-->
