<p-menubar [model]="menuItems">

  <ng-template pTemplate="end">

    <div class="flex align-items-center gap-2">
      <p-inputNumber [(ngModel)]="scale" pTooltip="Scale elements" min="0.1" max="3" (ngModelChange)="Helper.setScale(scale)" mode="decimal"
                     [minFractionDigits]="1"
                     [maxFractionDigits]="1" [inputStyle]="{width: '40px'}"/>&nbsp;
      Play activities :
      <p-autoComplete [(ngModel)]="newActivity" [dropdown]="true" [suggestions]="suggestedActivities" (completeMethod)="searchActivities($event)" appendTo="body"
                      [style]="{'width':'100%'}" panelStyleClass="autocomplete-panel-custom" [inputStyle]="{'width':'100%'}" optionLabel="entity_id" (ngModelChange)="addActivity($event)"
                      pTooltip="View activity">
        <ng-template let-item pTemplate="item">
          <div><b>{{Helper.getEntityName(item)}}</b> [<span [style]="{'color': Helper.getBackgroundColor(item.entity_type)}">{{item.entity_type}}</span>] ({{item.entity_id}})</div>
        </ng-template>
      </p-autoComplete>
      Add entities :
      <p-autoComplete [(ngModel)]="newEntity" [dropdown]="true" [suggestions]="suggestions" (completeMethod)="searchEntities($event)" appendTo="body"
                      [style]="{'width':'100%'}" panelStyleClass="autocomplete-panel-custom" [inputStyle]="{'width':'100%'}" optionLabel="entity_id" (ngModelChange)="addEntity($event)"
                      pTooltip="Add entity">
        <ng-template let-item pTemplate="item">
          <div><b>{{Helper.getEntityName(item)}}</b> [<span [style]="{'color': Helper.getBackgroundColor(item.entity_type)}">{{item.entity_type}}</span>] ({{item.entity_id}})</div>
        </ng-template>
      </p-autoComplete>
      <p-dropdown [(ngModel)]="selectedRemote" [options]="remotes" placeholder="Select remote" (ngModelChange)="setRemote(selectedRemote!)">
        <ng-template pTemplate="selectedItem">
          <ng-container *ngIf="selectedRemote">{{selectedRemote.remote_name}} ({{selectedRemote.address}})</ng-container>
          <ng-container *ngIf="!selectedRemote">No remote selected</ng-container>
        </ng-template>
        <ng-template let-item pTemplate="item">
          {{item.remote_name}} ({{item.address}})
        </ng-template>
      </p-dropdown>
      <ng-container *ngFor="let activity of activities">
        <ng-container *ngIf="activity.attributes?.state === 'ON'">
          <p-button icon="pi pi-play" pTooltip="Play activity" (click)="playActivity(activity)"
                    [label]="Helper.getEntityName(activity)"/>
        </ng-container>
      </ng-container>
    </div>
  </ng-template>
</p-menubar>
<div class="flex align-content-center flex-wrap gap-3 column-gap-4" style="width: 100%">
  <div class="flex align-items-center justify-content-center" *ngIf="remoteState?.batteryInfo?.capacity" style="width: 160px">
    <div class="flex align-items-center justify-content-center">{{remoteState!.batteryInfo!.capacity!}}%</div>
    <div style="position: relative; font-size: 4rem">
      <div class="icon icon-battery" *ngIf="remoteState!.batteryInfo!.capacity!> 30 && remoteState!.batteryInfo!.capacity! < 85"></div>
      <div class="icon icon-battery-low" *ngIf="remoteState!.batteryInfo!.capacity! <= 30"></div>
      <div class="icon icon-battery-full" *ngIf="remoteState!.batteryInfo!.capacity! >= 85"></div>
      <div class="pi pi-bolt charging-status" *ngIf="remoteState!.batteryInfo?.status === 'CHARGING'"></div>
    </div>
  </div>
  <div class="flex align-items-center justify-content-center">
    <p-tag [value]="(remoteWebsocketService.connectionStatus | async) ? 'Connected' : 'Disconnected'"
           [severity]="(remoteWebsocketService.connectionStatus  | async) ? 'success' : 'warning'"/>
  </div>
</div>
<div class="flex flex-wrap gap-3">
  <div class="flex gap-2 align-content-center justify-content-center media-card-border"
       [style]="'width:'+(600*scale)+'px'" *ngFor="let mediaEntity of mediaEntities">
    <app-media-entity [mediaEntity]="mediaEntity" [remote]="selectedRemote" [style]="'width:'+(600*scale)+'px'" [scale]="scale"
                      class="flex flex-wrap gap-2 align-content-start justify-content-center ng-star-inserted"></app-media-entity>
  </div>
</div>
<app-activity-player *ngFor="let activity of selectedActivities" [remote]="selectedRemote" [activity]="activity" [visible]="true"
  (onClose)="removeActivity($event)" [scale]="scale"/>

