.smaller-dropdown .p-inputtext
{
  font-size: 0.6rem;
}

.charging-status {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.4rem;
  font-weight: bold;
  color: #fbf100;
}

.widget-connection-status {
  transition: all 1s ease-in-out;
}

.widget-connection-status .p-tag {
  transition: all 1s ease-in-out;
}

.media-card-border {
  background: black;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.58);
  position: relative;
  transition: all 1s ease-in-out;
  padding: 3px;
  overflow: hidden;
}

.border-small {
  border: 1px solid rgba(255, 255, 255, 0.73);
  border-radius: 10px;
}

.disconnected-state {
  cursor: pointer;
}

.media-card-border:hover {
  border: 1px solid rgba(255, 255, 255, 0.73);
}

.active-tag {
  cursor: pointer;
}

.power-button {
  cursor: pointer;
  position: absolute;
  top: 8px;
  left: 8px;
}

.autocomplete-panel-custom{
  height: 400px !important;
  max-height: 600px !important;
}

.message-panel .p-message .p-message-wrapper {
  padding: 0.1rem 0.1rem;
  height: 25px;
}

.message-panel .p-message .p-message-close {
  width: 0.9rem;
  height: 0.9rem;
}


.message-panel .p-message-icon {
  display:none !important;
}

.cdk-drag-preview {
  border-radius: 20px;
  border: 2px solid rgba(255, 255, 255, 0.73);
  background: transparent;
  animation: blur-in 500ms 0s forwards;
  position: relative;
  transition: none;
  padding: 5px;
  box-sizing: border-box;
  box-shadow:  10px 5px 25px rgba(255, 255, 255, 0.5);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drop-list-dragging .cdk-drag {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drop-list-dragging {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

@keyframes blur-in {
  from {
    backdrop-filter: blur(0px);
  }
  to {
    backdrop-filter: blur(60px);
  }
}

@keyframes blur-out {
  from {
    backdrop-filter: blur(60px);
  }
  to {
    backdrop-filter: blur(0px);
  }
}
