<p-toast key="activeEntities"/>
<p-menubar [model]="menuItems">
  <ng-template pTemplate="end">
    <div class="flex flex-wrap align-items-center gap-2">
      <p-dropdown [(ngModel)]="selectedDashboard" [options]="dashboards" placeholder="Select dashboard"
                  (ngModelChange)="selectDashboard($event)" optionLabel="name" class="smaller-dropdown">
      </p-dropdown>
      <p-button icon="pi pi-save" pTooltip="Save dashboard to browser cache"
                label="Save dashboard" (click)="showDashboardDialog = true"/>
      Scale :
      <p-inputNumber [(ngModel)]="scale" pTooltip="Scale elements" min="0.1" max="3" (ngModelChange)="Helper.setScale(scale)" mode="decimal"
                     [minFractionDigits]="1"
                     [maxFractionDigits]="1" [inputStyle]="{width: '40px'}"/>&nbsp;
      Activities :
      <p-autoComplete [(ngModel)]="newActivity" [dropdown]="true" [suggestions]="suggestedActivities" (completeMethod)="searchActivities($event)" appendTo="body"
                      [style]="{'width':'50px'}" panelStyleClass="autocomplete-panel-custom" [inputStyle]="{'width':'100%'}" optionLabel="entity_id" (ngModelChange)="addActivity($event)"
                      pTooltip="View activity">
        <ng-template let-item pTemplate="item">
          <div><b>{{Helper.getEntityName(item)}}</b></div>
        </ng-template>
      </p-autoComplete>
      Entities :
      <p-autoComplete [(ngModel)]="newEntity" [dropdown]="true" [suggestions]="suggestions" (completeMethod)="searchEntities($event)" appendTo="body"
                      [style]="{'width':'50px'}" panelStyleClass="autocomplete-panel-custom" [inputStyle]="{'width':'100%'}" optionLabel="entity_id" (ngModelChange)="addEntity($event)"
                      pTooltip="Add entity">
        <ng-template let-item pTemplate="item">
          <div><b>{{Helper.getEntityName(item)}}</b></div>
        </ng-template>
      </p-autoComplete>
      <p-dropdown [(ngModel)]="selectedRemote" [options]="remotes" placeholder="Select remote" (ngModelChange)="setRemote(selectedRemote!)"
        class="smaller-dropdown">
        <ng-template pTemplate="selectedItem">
          <ng-container *ngIf="selectedRemote">{{selectedRemote.remote_name}} ({{selectedRemote.address}})</ng-container>
          <ng-container *ngIf="!selectedRemote">No remote selected</ng-container>
        </ng-template>
        <ng-template let-item pTemplate="item">
          {{item.remote_name}} ({{item.address}})
        </ng-template>
      </p-dropdown>
      <ng-container *ngFor="let activity of activities">
        <ng-container *ngIf="activity.attributes?.state === 'ON'">
          <p-button icon="pi pi-play" pTooltip="Play activity" (click)="playActivity(activity)"
                    [label]="Helper.getEntityName(activity)"/>
        </ng-container>
      </ng-container>
    </div>
  </ng-template>
</p-menubar>
<div class="flex align-content-center flex-wrap gap-3 column-gap-4" style="width: 100%">
  <div class="flex align-items-center justify-content-center" *ngIf="remoteState?.batteryInfo?.capacity" style="width: 160px">
    <div class="flex align-items-center justify-content-center">{{remoteState!.batteryInfo!.capacity!}}%</div>
    <div style="position: relative; font-size: 4rem">
      <div class="icon icon-battery" *ngIf="remoteState!.batteryInfo!.capacity!> 30 && remoteState!.batteryInfo!.capacity! < 85"></div>
      <div class="icon icon-battery-low" *ngIf="remoteState!.batteryInfo!.capacity! <= 30"></div>
      <div class="icon icon-battery-full" *ngIf="remoteState!.batteryInfo!.capacity! >= 85"></div>
      <div class="pi pi-bolt charging-status" *ngIf="remoteState!.batteryInfo?.status === 'CHARGING'"></div>
    </div>
  </div>
  <div class="flex align-items-center justify-content-center">
    <p-tag [value]="(remoteWebsocketService.connectionStatus | async) ? 'Connected' : 'Disconnected'"
           [severity]="(remoteWebsocketService.connectionStatus  | async) ? 'success' : 'warning'"
           [class]="'disconnected-state'"
            pTooltip="Click to wake up the remote"
            (click)="wakeRemote($event)"/>
  </div>
  <p-messages *ngIf="messages.length > 0" class="message-panel" styleClass="message-panel" [(value)]="messages" [enableService]="false" showTransitionOptions="0ms" hideTransitionOptions="0ms"/>
</div>
<div class="flex flex-wrap gap-3" *ngIf="smallSizeMode">
  <div class="flex gap-2 align-content-center justify-content-center media-card-border"
       [style]="'width:'+(600*scale*0.8)+'px'" *ngFor="let mediaEntity of mediaEntities">
    <app-media-entity [mediaEntity]="mediaEntity" [remote]="selectedRemote" [style]="'width:'+(600*scale*0.8)+'px'" [scale]="scale*0.8"
                      class="flex flex-wrap gap-2 align-content-start justify-content-center ng-star-inserted"
                      [closable]="true"></app-media-entity>
  </div>
</div>
<div class="flex flex-wrap gap-3" cdkDropList cdkDropListOrientation="mixed" (cdkDropListDropped)="drop($event)" *ngIf="!smallSizeMode">
  <div class="flex gap-2 align-content-center justify-content-center media-card-border"
       [style]="'width:'+(600*scale)+'px'" *ngFor="let mediaEntity of mediaEntities" cdkDrag>
    <app-media-entity [mediaEntity]="mediaEntity" [remote]="selectedRemote" [style]="'width:'+(600*scale)+'px'" [scale]="scale"
                      class="flex flex-wrap gap-2 align-content-start justify-content-center ng-star-inserted"
      [closable]="true"></app-media-entity>
  </div>
</div>
<app-activity-player *ngFor="let activity of selectedActivities" [remote]="selectedRemote" [activity]="activity" [visible]="true"
  (onClose)="removeActivity($event)" [scale]="scale" (onMessage)="handleMessage($event)"/>
<p-dialog [modal]="true" position="center" [draggable]="true" appendTo="body" [(visible)]="showDashboardDialog">
  <ng-template pTemplate="header">
    <div class="flex align-items-start justify-content-center">
      <h3>Save dashboard</h3>
    </div>
  </ng-template>
  <div class="flex flex-column gap-3">
    <div class="flex flex-wrap gap-3 align-items-center">
      Name of the dashboard : <input type="text" pInputText [(ngModel)]="dashboardName" />
    </div>
    <div class="flex flex-wrap align-items-center gap-1">
      Entities : <p-tag *ngFor="let mediaEntity of mediaEntities" [value]="remoteWebsocketService.getEntityName(mediaEntity)"/>
    </div>
    <div class="flex flex-wrap align-items-center gap-1">
      Virtual remotes : <p-tag *ngFor="let entity of selectedActivities" [value]="Helper.getEntityName(entity)" severity="warning"/>
    </div>
    <div class="flex flex-wrap gap-3 align-items-center">
      <p-button icon="pi pi-times" pTooltip="Delete this dashboard"
                label="Delete dashboard" severity="danger" *ngIf="dashboardName" (click)="deleteDashboard(dashboardName)"/>
      <p-button icon="pi pi-save" pTooltip="Save dashboard to browser cache"
                label="Save dashboard" (click)="saveDashboard()"/>
    </div>
  </div>
</p-dialog>
