.icon {
  order: 1;
  font-size: 3.688rem;
  color: var(--vt-c-grex-light);
  width: unset;
  height: unset
}

.button-info-panel
{
  height: 120px;
  width: 400px;
  transition: all 2s ease-in-out;
}

.button-action {
  cursor: pointer;
}
