<p-toast key="activityButtons"></p-toast>
<div class="flex flex-column" style="position:relative">
  <div class="flex align-items-start justify-content-center"
       [style]="{width: 400*scale+'px', height: 400*scale+'px'}"></div>
  <div class="flex align-items-start justify-content-center" *ngIf="getRemoteModel()?.model != 'UCR3'"
       [style]="'position: absolute;top:0;left:0;right:0;text-align: center;transform-origin: top;scale:'+scale">
    <app-image-map image="assets/remote/remote-two.png" [imageSize]="{width: 400, height: 400}" (overElement)="buttonOver($event)"
                   (mouseLongPress)="selectButton($event, true)"
                   (clickElement)="selectButton($event)" [selectedTags]="mappedButtons" [imageTemplate]="r2Areas">
      <ng-template #r2Areas>
        <area target="" alt="Volume +" title="Volume +" href="#" data-tag="volumeup" coords="5,87,83,163" shape="rect">
        <area target="" alt="Volume -" title="Volume -" href="#" data-tag="volumedown" coords="5,243,81,312" shape="rect">
        <area target="" alt="Mute" title="Mute" href="#" data-tag="mute" coords="5,321,76,390" shape="rect">
        <area target="" alt="Previous chapter" title="Previous chapter" href="#" data-tag="previous" coords="89,320,158,390" shape="rect">
        <area target="" alt="Play pause" title="Play pause" href="#" data-tag="playpause" coords="165,321,240,390" shape="rect">
        <area target="" alt="Next chapter" title="Next chapter" href="#" data-tag="next" coords="243,321,316,389" shape="rect">
        <area target="" alt="Back" title="Back" href="#" data-tag="back" coords="5,7,83,74" shape="rect">
        <area target="" alt="Power" title="Power" href="#" data-tag="power" coords="321,321,394,390" shape="rect">
        <area target="" alt="Home" title="Home" href="#" data-tag="home" coords="88,5,318,76" shape="rect">
        <area target="" alt="Mic" title="Mic" href="#" data-tag="mic" coords="325,1,398,76" shape="rect">
        <area target="" alt="Channel Up" title="Channel Up" href="#" data-tag="channelup" coords="325,85,394,161" shape="rect">
        <area target="" alt="Channel Down" title="Channel Down" href="#" data-tag="channeldown" coords="323,245,392,314" shape="rect">
        <area target="" alt="Cursor up" title="Cursor up" href="#" data-tag="cursorup" coords="163,87,241,149" shape="rect">
        <area target="" alt="Cursor down" title="Cursor down" href="#" data-tag="cursordown" coords="163,260,241,316" shape="rect">
        <area target="" alt="Cursor left" title="Cursor left" href="#" data-tag="cursorleft" coords="87,161,154,247" shape="rect">
        <area target="" alt="Cursor right" title="Cursor right" href="#" data-tag="cursorright" coords="247,154,316,247" shape="rect">
        <area target="" alt="Cursor enter" title="Cursor enter" href="#" data-tag="cursorenter" coords="161,158,241,245" shape="rect">
        <area target="" alt="Green" title="Green" href="#" data-tag="green" coords="87,90,156,152" shape="rect">
        <area target="" alt="Yellow" title="Yellow" href="#" data-tag="yellow" coords="249,90,314,147" shape="rect">
        <area target="" alt="Red" title="Red" href="#" data-tag="red" coords="89,254,158,312" shape="rect">
        <area target="" alt="Blue" title="Blue" href="#" data-tag="blue" coords="252,254,314,316" shape="rect">
      </ng-template>
    </app-image-map>
  </div>
  <div class="flex align-items-start justify-content-center"  *ngIf="getRemoteModel()?.model == 'UCR3'"
       [style]="'position: absolute;top:0;left:0;transform-origin: top left;scale:'+scale">
    <app-image-map image="assets/remote/remote-3.png" [imageSize]="{width: 400, height: 724}" (overElement)="buttonOver($event)"
                   (clickElement)="selectButton($event)" [selectedTags]="mappedButtons" [imageTemplate]="r3Areas">
      <ng-template #r3Areas>
        <area target="" alt="Slider" title="Slider" href="#" data-tag="slider" coords="4,1,391,81" shape="rect">
        <area target="" alt="Back" title="Back" href="#" data-tag="back" coords="6,85,98,154" shape="rect">
        <area target="" alt="Home" title="Home" href="#" data-tag="home" coords="106,86,292,151" shape="rect">
        <area target="" alt="Power" title="Power" href="#" data-tag="power" coords="299,87,392,153" shape="rect">
        <area target="" alt="Volume Up" title="Volume Up" data-tag="volumeup" href="#" coords="2,168,88,268" shape="rect">
        <area target="" alt="Volume Down" title="Volume Down" data-tag="volumedown" href="#" coords="1,465,97,561" shape="rect">
        <area target="" alt="Channel Up" title="Channel Up" href="#" data-tag="channelup" coords="310,168,392,273" shape="rect">
        <area target="" alt="Channel Down" title="Channel Down" href="#" data-tag="channeldown" coords="306,462,394,560" shape="rect">
        <area target="" alt="Cursor Up" title="Cursor Up" href="#" data-tag="cursorup" coords="154,217,249,306" shape="rect">
        <area target="" alt="Cursor Down" title="Cursor Down" href="#" data-tag="cursordown" coords="151,422,246,512" shape="rect">
        <area target="" alt="Cursor Left" title="Cursor Left" href="#" data-tag="cursorleft" coords="38,323,134,411" shape="rect">
        <area target="" alt="Cursor Right" title="Cursor Right" href="#" data-tag="cursorright" coords="269,323,361,415" shape="rect">
        <area target="" alt="Cursor Enter" title="Cursor Enter" href="#" data-tag="cursorenter" coords="144,311,256,413" shape="rect">
        <area target="" alt="Mute" title="Mute" href="#" data-tag="mute" coords="4,571,100,644" shape="rect">
        <area target="" alt="Record" title="Record" href="#" data-tag="record" coords="104,573,198,643" shape="rect">
        <area target="" alt="Context Menu" title="Context Menu" href="#" data-tag="contextmenu" coords="202,573,294,643" shape="rect">
        <area target="" alt="Mic" title="Mic" href="#" data-tag="mic" coords="299,571,393,643" shape="rect">
        <area target="" alt="Previous" title="Previous" href="#" data-tag="previous" coords="5,648,100,717" shape="rect">
        <area target="" alt="Next" title="Next" href="#" data-tag="next" coords="297,647,392,717" shape="rect">
        <area target="" alt="Stop" title="Stop" href="#" data-tag="stop" coords="104,648,196,717" shape="rect">
        <area target="" alt="Play Pause" title="Play Pause" href="#" data-tag="playpause" coords="201,649,292,717" shape="rect">
      </ng-template>
    </app-image-map>
  </div>
</div>
<div class="grid align-content-start" *ngIf="!hideButtonsInfo && mouseoverButton" style="width:400px; height: 150px">
  <div class="col-12 text-center">
    <h3>{{mouseOverButtonName!}}</h3>
  </div>
  <ng-container [ngTemplateOutlet]="buttonTemplate" [ngTemplateOutletContext]="{button:mouseoverButton}"/>
</div>
<app-button-editor [activity]="activity" [remote]="remote" [button]="selectedButton" (buttonChanged)="buttonChanged($event)"></app-button-editor>
<p-overlayPanel #executeButtonPanel [showCloseIcon]="true" appendTo="body" [style]="{width: '450px'}">
  <ng-template pTemplate="content">
    <div class="grid">
      <ng-container *ngIf="executeButton" [ngTemplateOutlet]="buttonTemplate" [ngTemplateOutletContext]="{button:executeButton}"/>
    </div>
  </ng-template>
</p-overlayPanel>

<ng-template let-button="button" #buttonTemplate>
  <ng-container *ngIf="button.short_press">
    <div class="col-3 button-action" (click)="executeCommand(button, ButtonMode.ShortPress)">
      <p-tag severity="success" value="Short press"/>
    </div>
    <div class="col-3 button-action" (click)="executeCommand(button, ButtonMode.ShortPress)">
      <p-chip [label]="getEntityName(button.short_press.entity_id)"
              [style]="Helper.getStyle(Helper.getEntityName(button.short_press.entity_id))"
              [pTooltip]="button.short_press.entity_id"></p-chip>&nbsp;
    </div>
    <div class="col-3 button-action" (click)="executeCommand(button, ButtonMode.ShortPress)">
      <p-tag [value]="Helper.getCommandName(button.short_press, configEntityCommands)" [pTooltip]="button.short_press.cmd_id"
             severity="secondary"></p-tag>
    </div>
    <div class="col-3">
      <ng-container *ngIf="button.short_press.params">
        <ng-container *ngFor="let param of Helper.getParams(button.short_press)">
          <ng-container *ngIf="Helper.getParam(button.short_press, param, configEntityCommands)">
            {{Helper.getEntityName(Helper.getParam(button.short_press, param, configEntityCommands))}} :
            {{Helper.getParamValue(button.short_press, param)}}
          </ng-container>
        </ng-container>
      </ng-container>
    </div>
  </ng-container>
  <ng-container *ngIf="button && button.long_press">
    <div class="col-3 button-action" (click)="executeCommand(button, ButtonMode.LongPress)">
      <p-tag severity="warning" value="Long press"/>
    </div>
    <div class="col-3 button-action" (click)="executeCommand(button, ButtonMode.LongPress)">
      <p-chip [label]="getEntityName(button.long_press.entity_id)"
              [style]="Helper.getStyle(Helper.getEntityName(button.long_press.entity_id))"
              [pTooltip]="button.long_press.entity_id"></p-chip>&nbsp;
    </div>
    <div class="col-3 button-action" (click)="executeCommand(button, ButtonMode.LongPress)">
      <p-tag [value]="Helper.getCommandName(button.long_press, configEntityCommands)" [pTooltip]="button.long_press.cmd_id"
             severity="secondary"></p-tag>
    </div>
    <div class="col-3">
      <ng-container *ngIf="button.long_press.params">
        <ng-container *ngFor="let param of Helper.getParams(button.long_press)">
          <ng-container *ngIf="Helper.getParam(button.long_press, param, configEntityCommands)">
            {{Helper.getEntityName(Helper.getParam(button.long_press, param, configEntityCommands))}} :
            {{Helper.getParamValue(button.long_press, param)}}
          </ng-container>
        </ng-container>
      </ng-container>
    </div>
  </ng-container>
  <ng-container *ngIf="button && button.double_press">
    <div class="col-3 button-action" (click)="executeCommand(button, ButtonMode.DoublePress)">
      <p-tag severity="danger" value="Double press"/>
    </div>
    <div class="col-3 button-action" (click)="executeCommand(button, ButtonMode.DoublePress)">
      <p-chip [label]="getEntityName(button.double_press.entity_id)"
              [style]="Helper.getStyle(Helper.getEntityName(button.double_press.entity_id))"
              [pTooltip]="button.double_press.entity_id"></p-chip>&nbsp;
    </div>
    <div class="col-3 button-action" (click)="executeCommand(button, ButtonMode.DoublePress)">
      <p-tag [value]="Helper.getCommandName(button.double_press, configEntityCommands)" [pTooltip]="button.double_press.cmd_id"
             severity="secondary"></p-tag>
    </div>
    <div class="col-3">
      <ng-container *ngIf="button.double_press.params">
        <ng-container *ngFor="let param of Helper.getParams(button.double_press)">
          <ng-container *ngIf="Helper.getParam(button.double_press, param, configEntityCommands)">
            {{Helper.getEntityName(Helper.getParam(button.double_press, param, configEntityCommands))}} :
            {{Helper.getParamValue(button.double_press, param)}}
          </ng-container>
        </ng-container>
      </ng-container>
    </div>
  </ng-container>
</ng-template>
