<div *ngIf="climateEntity" class="flex gap-2 justify-content-center media-card" style="width: 100%;height:100%">
  <div class="power-button" [style]="'scale:'+scale" *ngIf="checkFeature(climateEntity, 'on_off')">
    <p-button *ngIf="!isOn()" icon="pi pi-power-off"
              [rounded]="true" (click)="powerToggle()"
              size="small" pTooltip="Power toggle" severity="secondary"/>
    <p-button *ngIf="isOn()" icon="pi pi-power-off" [rounded]="true" severity="warning"
              (click)="powerToggle()" size="small" pTooltip="Power toggle"/>
  </div>
  <div class="close-button" *ngIf="closable" [style]="'scale:'+scale">
    <p-button icon="pi pi-times" [rounded]="true" (click)="closeEntity()"
              size="small" pTooltip="Close" severity="secondary"/>
  </div>
  <div class="flex-column align-content-start" style="width: 100%;height:100%">
    <div class="flex align-content-center justify-content-center card-title"  cdkDragHandle [style]="'text-align:center;scale:'+scale">
      <ng-container *ngIf="headerTemplate" [ngTemplateOutlet]="headerTemplate"/>
      <ng-container *ngIf="!headerTemplate">{{websocketService.getEntityName(climateEntity)}}</ng-container>
    </div>
    <div class="flex flex-column justify-content-center gap-2" style="height:100%">
      <div *ngIf="havcModes.length > 0"
           class="flex align-items-center justify-content-center" style="width: 100%">
        <app-dropdown-over [(value)]="havcMode" [options]="havcModes" [textTemplate]="currentMode" (valueChange)="setHavcMode(havcMode!)">
          <ng-template #currentMode>
            <p-tag [value]="getLabel(havcMode)" [severity]="getStatusSeverity()"></p-tag>
          </ng-template>
        </app-dropdown-over>
      </div>
      <div *ngIf="checkFeature(climateEntity, 'target_temperature') && climateEntity?.new_state?.attributes"
           class="flex align-items-center justify-content-center" style="width: 100%; height: 100%">
        <p-knob [(ngModel)]="climateEntity.new_state!.attributes!.target_temperature" (ngModelChange)="setTemperature($event)"
        [min]="min_temperature" [max]="max_temperature" [step]="target_temperature_step" [valueColor]="getColor()"/>
        {{climateEntity.new_state!.attributes!.current_temperature}}
      </div>
      <div *ngIf="!checkFeature(climateEntity, 'target_temperature') && checkFeature(climateEntity, 'current_temperature') && climateEntity?.new_state?.attributes"
           class="flex align-items-center justify-content-center" style="width: 100%; height: 100%">
        <p-knob [(ngModel)]="climateEntity.new_state!.attributes!.current_temperature" [valueColor]="getColor()"
                [min]="min_temperature" [max]="max_temperature" [step]="target_temperature_step" [disabled]="true"/>
      </div>
    </div>
  </div>
</div>
