<p-toast></p-toast>
<h2><img src="assets/logo.png" alt="" style="width:200px"/>&nbsp;&nbsp;Unfolded Circle remote configuration toolkit</h2>
<!--<div class="progress-spinner" *ngIf="progress">-->
<!--  <p-progressSpinner styleClass="w-4rem h-4rem" strokeWidth="8" fill="var(&#45;&#45;surface-ground)" animationDuration=".5s"></p-progressSpinner>-->
<!--</div>-->
<p-blockUI [blocked]="blockedMenu"/>
<p-menubar [model]="items">
  <ng-template #end>Source remote :
    <p-select [(ngModel)]="selectedRemote1" optionLabel="remote_name" [options]="remotes" placeholder="Select source remote">
      <ng-template #selectedItem>
        <ng-container *ngIf="selectedRemote1">{{selectedRemote1.remote_name}} ({{selectedRemote1.address}})</ng-container>
        <ng-container *ngIf="!selectedRemote1">No remote selected</ng-container>
      </ng-template>
<!--      <ng-template let-item #item>-->
<!--        {{item.remote_name}} ({{item.address}}<ng-container *ngIf="item.port !== '80'">:{{item.port}}</ng-container>)-->
<!--      </ng-template>-->
    </p-select>&nbsp;&nbsp;<p-button icon="pi pi-arrow-right" [rounded]="true" size="small" severity="secondary" [disabled]="true"/>&nbsp;&nbsp;
    Target remote :
    <p-select [(ngModel)]="selectedRemote2"optionLabel="remote_name" [options]="remotes" placeholder="Select target remote">
      <ng-template #selectedItem>
        <ng-container *ngIf="selectedRemote2">{{selectedRemote2.remote_name}} ({{selectedRemote2.address}})</ng-container>
        <ng-container *ngIf="!selectedRemote2">No remote selected</ng-container>
      </ng-template>
<!--      <ng-template let-item #item>-->
<!--        {{item.remote_name}} ({{item.address}}<ng-container *ngIf="item.port !== '80'">:{{item.port}}</ng-container>)-->
<!--      </ng-template>-->
    </p-select>
  </ng-template>
</p-menubar>
<app-remote-data-loader #loader1 [remote]="selectedRemote1"></app-remote-data-loader>
<app-remote-data-loader #loader2 [remote]="selectedRemote2"></app-remote-data-loader>
<h3>Comparison of activities between the two remotes</h3>
<ng-container *ngIf="selectedActivities.length > 0">
  Selected activities : <ng-container *ngFor="let activity of selectedActivities; let last = last">
  <ng-container *ngIf="activity.activity1">{{Helper.getEntityName(activity.activity1)}}<span *ngIf="!last">, </span></ng-container>
</ng-container>
  <ng-container *ngIf="orphanEntities.length > 0">
    <h3>Some entities are orphans : replace them and click on apply</h3>
    <div class="flex align-content-center flex-wrap gap-3" style="min-height: 100px" *ngFor="let item of orphanEntities">
      <div class="flex flex-column">
        <div class="flex align-items-center justify-content-center">
          <p-chip [label]="''+Helper.getEntityName(item.oldEntity)+' ('+item.oldEntity.entity_id+')'" />&nbsp;
        </div>
        <div class="flex align-items-center justify-content-center">
          <i>{{getOrphanOriginLabel(item)}}</i>
        </div>
      </div>
      <div class="flex align-items-center justify-content-center">
        <p-button icon="pi pi-arrow-right" [rounded]="true" size="small" severity="secondary" [disabled]="true"/>
      </div>
      <div class="flex align-items-center justify-content-center">
        <p-autoComplete [(ngModel)]="item.newEntity" [dropdown]="true" [suggestions]="entitiesSuggestions" (completeMethod)="searchOrphanEntity(item, $event)" appendTo="body"
                        [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}" optionLabel="entity_id">
          <ng-template let-item #item>
            <div><b>{{Helper.getEntityName(item)}}</b> [<span [style]="{'color': Helper.getBackgroundColor(item.entity_type)}">{{item.entity_type}}</span>] ({{item.entity_id}})</div>
          </ng-template>
        </p-autoComplete>
      </div>
    </div>
    <p-button label="Apply" (onClick)="submitOrphans()" size="small"></p-button>
  </ng-container>
  <ng-container *ngIf="uncompatibleCommands.length > 0">
    <h3>Some buttons are not compatible with the target remote ({{getRemoteModel()?.name}}), they are removed :</h3>
    <ul>
      <li *ngFor="let command of uncompatibleCommands">Activity {{Helper.getEntityName(command.activity)}}
        <ul>
          <li *ngFor="let button of command.buttons">{{button.button}} :
            <ng-container *ngIf="button.short_press">short press : {{button.short_press.entity_id}} {{button.short_press.cmd_id}}</ng-container>
            <ng-container *ngIf="button.long_press"> long press : {{button.long_press.entity_id}} {{button.long_press.cmd_id}}</ng-container>
            <ng-container *ngIf="button.double_press"> double press : {{button.double_press.entity_id}} {{button.double_press.cmd_id}}</ng-container></li>
        </ul>

      </li>
    </ul>
  </ng-container>
  <p-divider />
</ng-container>
<p-table [value]="activitiesDiff" styleClass="p-datatable-sm p-datatable-striped" [resizableColumns]="true"
         [scrollable]="true" [scrollHeight]="'calc(100vh - 50px)'" [(selection)]="selectedActivities">
  <ng-template #header>
    <tr>
      <th style="width: 4rem"><p-tableHeaderCheckbox pTooltip="Synchronize all the activities from remote {{selectedRemote1?.remote_name}} to {{selectedRemote2?.remote_name}}" /></th>
      <th pResizableColumn><p-columnFilter field="activity1.name" matchMode="in" [showMenu]="false">
        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
          <p-multiSelect
            [ngModel]="value"
            [options]="Helper.getItemsConverted(activitiesDiff, 'activity1.name', ActivitySyncComponent.getObjectName)"
            placeholder="Activity name"
            (onChange)="filter($event.value)"
            optionLabel="name" optionValue="value" appendTo="body">
          </p-multiSelect>
        </ng-template>
        </p-columnFilter></th>
      <th pResizableColumn>Activity {{selectedRemote1?.remote_name}}</th>
      <th pResizableColumn>Activity {{selectedRemote2?.remote_name}}</th>
      <th pResizableColumn><p-columnFilter field="status" matchMode="in" [showMenu]="false">
        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
          <p-multiSelect
            [ngModel]="value"
            [options]="Helper.getItemsConverted(activitiesDiff, 'status', ActivitySyncComponent.getStatusLabel2)"
            placeholder="Status"
            (onChange)="filter($event.value)"
            optionLabel="name" optionValue="value" appendTo="body">
          </p-multiSelect>
        </ng-template>
      </p-columnFilter></th>
      <th pResizableColumn>Buttons differences</th>
      <th pResizableColumn>Pages differences</th>
      <th pResizableColumn>Sequences differences</th>
      <th pResizableColumn>Orphan entities</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-diff>
    <tr>
      <td><p-tableCheckbox [disabled]="!diff.activity1" [value]="diff" pTooltip="Synchronize this activity from remote {{selectedRemote1?.remote_name}} to {{selectedRemote2?.remote_name}}"/></td>
      <td>
        <div class="flex" *ngIf="diff.activity1">
          <div *ngIf="diff.activity1.icon" style="width: 40px; height: 40px" class="flex-initial flex align-items-center justify-content-center link-element">
            <app-icon [remote]="selectedRemote1" [icon]="diff.activity1.icon" [size]="50" [fontSize]="55"/>
          </div>
          <div class="flex-initial flex align-items-center justify-content-center">
            &nbsp;{{ Helper.getEntityName(diff.activity1) }}
          </div>
        </div>
        <div class="flex" *ngIf="!diff.activity1 && diff.activity2">
          <div *ngIf="diff.activity2.icon" style="width: 40px; height: 40px" class="flex-initial flex align-items-center justify-content-center link-element">
            <app-icon [remote]="selectedRemote2" [icon]="diff.activity2.icon" [size]="50" [fontSize]="55"/>
          </div>
          <div class="flex-initial flex align-items-center justify-content-center">
            &nbsp;{{ Helper.getEntityName(diff.activity2) }}
          </div>
        </div>
      </td>
      <td><a [routerLink]="[]" (click)="viewActivities(diff,actvitiesViewer,$event)">{{ diff.activity1?.entity_id }}</a></td>
      <td><a [routerLink]="[]" (click)="viewActivities(diff, actvitiesViewer, $event)">{{ diff.activity2?.entity_id }}</a></td>
      <td><p-chip [label]="ActivitySyncComponent.getStatusLabel(diff)" [styleClass]="getStatusStyle(diff)"></p-chip></td>
      <td>
        <ng-container *ngIf="diff.buttons">
          <ng-container *ngFor="let button of diff.buttons">
            <p-chip [label]="button.button1 ? button.button1.button : button.button2.button" [style]="Helper.getStyle(button.button1 ? button.button1.button : button.button2.button)"
                    (mouseover)="showButton(button, diffPanelButton, $event)" styleClass="diff_button"></p-chip>
          </ng-container>
        </ng-container>
      </td>
      <td>
        <ng-container *ngIf="diff.pages">
          <ng-container *ngFor="let page of diff.pages">
            <p-chip [label]="page.name" [style]="Helper.getStyle(page.name)" [pTooltip]="'Page #'+(page.index+1)+' : '+page.page_id"></p-chip>
          </ng-container>
        </ng-container>
      </td>
      <td>
        <ng-container *ngIf="diff.sequences">
          <ng-container *ngFor="let item of diff.sequences | keyvalue">
            <p-chip [label]="'Sequence '+item.key" [style]="Helper.getStyle($any(item).key)" (mouseover)="showSequence($any(item).value, diffPanelSequences, $event)"></p-chip>

          </ng-container>
        </ng-container>
      </td>
      <td>
        <ng-container *ngIf="diff.orphanEntities">
          <ng-container *ngFor="let item of diff.orphanEntities">
            <p-chip [label]="Helper.getEntityName(item)" [style]="Helper.getStyle(Helper.getEntityName(item))"
                    (mouseover)="showEntity(item, entityPanel, $event)"></p-chip>

          </ng-container>
        </ng-container>
      </td>
    </tr>
  </ng-template>
</p-table>

<p-table *ngIf="driversDiff.length>0" [value]="driversDiff" styleClass="p-datatable-sm p-datatable-striped" [resizableColumns]="true"
         [scrollable]="true" [scrollHeight]="'calc(100vh - 50px)'" [(selection)]="selectedActivities">
  <ng-template #header>
    <tr>
      <th pResizableColumn><p-columnFilter field="driver1.name" matchMode="in" [showMenu]="false">
        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
          <p-multiSelect
            [ngModel]="value"
            [options]="Helper.getItemsConverted(driversDiff, 'driver1.name', ActivitySyncComponent.getObjectName)"
            placeholder="Driver name"
            (onChange)="filter($event.value)"
            optionLabel="name" optionValue="value" appendTo="body">
          </p-multiSelect>
        </ng-template>
      </p-columnFilter></th>
      <th pResizableColumn>Driver {{selectedRemote1?.remote_name}}</th>
      <th pResizableColumn>Driver {{selectedRemote2?.remote_name}}</th>
      <th pResizableColumn><p-columnFilter field="status" matchMode="in" [showMenu]="false">
        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
          <p-multiSelect
            [ngModel]="value"
            [options]="Helper.getItemsConverted(driversDiff, 'status', ActivitySyncComponent.getStatusLabel2)"
            placeholder="Status"
            (onChange)="filter($event.value)"
            optionLabel="name" optionValue="value" appendTo="body">
          </p-multiSelect>
        </ng-template>
      </p-columnFilter></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-diff>
    <tr>
      <td>
        <div class="flex" *ngIf="diff.driver1">
          <div *ngIf="diff.driver1.icon" style="width: 40px; height: 40px" class="flex-initial flex align-items-center justify-content-center link-element">
            <app-icon [remote]="selectedRemote1" [icon]="diff.driver1.icon" [size]="50" [fontSize]="55"/>
          </div>
          <div class="flex-initial flex align-items-center justify-content-center">
            &nbsp;{{ Helper.getEntityName(diff.driver1) }}
          </div>
        </div>
        <div class="flex" *ngIf="!diff.driver1 && diff.driver2">
          <div *ngIf="diff.driver2.icon" style="width: 40px; height: 40px" class="flex-initial flex align-items-center justify-content-center link-element">
            <app-icon [remote]="selectedRemote2" [icon]="diff.driver2.icon" [size]="50" [fontSize]="55"/>
          </div>
          <div class="flex-initial flex align-items-center justify-content-center">
            &nbsp;{{ Helper.getEntityName(diff.driver2) }}
          </div>
        </div>
      </td>
      <td>{{diff.driver1?.version}}</td>
      <td>{{diff.driver2?.version}}</td>
      <td><p-chip [label]="ActivitySyncComponent.getStatusLabel(diff)" [styleClass]="getStatusStyle(diff)"></p-chip></td>
    </tr>
  </ng-template>
</p-table>
<p-popover #diffPanelSequences [style]="{ width: '450px' }" [showCloseIcon]="true" appendTo="body">
  <ng-template pTemplate="content">
    <ng-container *ngIf="selectedSequences">
      <div class="flex align-content-center flex-wrap gap-3" style="min-height: 50px">
        <div class="flex align-items-center justify-content-center" *ngFor="let sequence of selectedSequences">
          <ng-container *ngIf="sequence && sequence.type === 'command'">
            <app-icon [remote]="selectedRemote1" [icon]="getEntityIcon(sequence.command?.entity_id)" [size]="30"/>&nbsp;
            {{getEntityName(sequence.command?.entity_id)}} : {{sequence.command?.cmd_id}}
          </ng-container>
          <ng-container *ngIf="sequence && sequence.type === 'delay'">Delay {{sequence.delay}}</ng-container>
        </div>
      </div>
    </ng-container>
  </ng-template>
</p-popover>
<p-popover #diffPanelButton [style]="{ width: '850px' }" [showCloseIcon]="true" appendTo="body" styleClass="buttons_panel">
  <ng-template pTemplate="content">
    <ng-container *ngIf="selectedButton">
      <div class="flex flex-column">
        <b *ngIf="selectedButton.button1?.short_press || selectedButton.button2?.short_press">Short press</b>
        <div class="flex align-content-center gap-3" style="min-height: 50px" *ngIf="selectedButton.button1?.short_press || selectedButton.button2?.short_press">
          <div class="flex flex-column" *ngIf="selectedButton.button1?.short_press?.entity_id">
            <div class="flex align-items-center justify-content-center">
              <app-icon [remote]="selectedRemote1" [icon]="getEntityIcon(selectedButton.button1?.short_press?.entity_id)" [size]="40"/>&nbsp;
              {{getEntityName(selectedButton.button1?.short_press?.entity_id)}} : {{selectedButton.button1?.short_press?.cmd_id}}
            </div>
            <span class="entity_id">{{selectedButton.button1?.short_press?.entity_id}}</span>
          </div>
          <div class="flex align-items-center justify-content-center" *ngIf="!selectedButton.button1?.short_press?.entity_id">
            <p-chip label="Unassigned" styleClass="unassigned_button"/>&nbsp;
          </div>
          <div class="flex align-items-center justify-content-center">
            <p-button icon="pi pi-arrow-right" [rounded]="true" size="small" severity="secondary" [disabled]="true"/>
          </div>
          <div class="flex flex-column" *ngIf="selectedButton.button2?.short_press?.entity_id">
            <div class="flex align-items-center justify-content-center">
              <app-icon [remote]="selectedRemote2" [icon]="getEntityIcon(selectedButton.button2?.short_press?.entity_id)" [size]="40"/>&nbsp;
              {{getEntityName(selectedButton.button2?.short_press?.entity_id)}} : {{selectedButton.button2?.short_press?.cmd_id}}
            </div>
            <span class="entity_id">{{selectedButton.button2?.short_press?.entity_id}}</span>
          </div>
          <div class="flex align-items-center justify-content-center" *ngIf="!selectedButton.button2?.short_press?.entity_id">
            <p-chip label="Unassigned" styleClass="unassigned_button"/>&nbsp;
          </div>
        </div>

        <b *ngIf="selectedButton.button1?.long_press || selectedButton.button2?.long_press">Long press</b>
        <div class="flex align-content-center gap-3" style="min-height: 50px" *ngIf="selectedButton.button1?.long_press || selectedButton.button2?.long_press">
          <div class="flex flex-column">
            <div class="flex align-items-center justify-content-center" >
              <app-icon [remote]="selectedRemote1" [icon]="getEntityIcon(selectedButton.button1?.long_press?.entity_id)" [size]="40"/>&nbsp;
              {{getEntityName(selectedButton.button1?.long_press?.entity_id)}} : {{selectedButton.button1?.long_press?.cmd_id}}
            </div>
            <span class="entity_id">{{selectedButton.button1?.long_press?.entity_id}}</span>
          </div>
          <div class="flex align-items-center justify-content-center" *ngIf="!selectedButton.button1?.long_press?.entity_id">
            <p-chip label="Unassigned" styleClass="unassigned_button"/>&nbsp;
          </div>
          <div class="flex align-items-center justify-content-center" >
            <p-button icon="pi pi-arrow-right" [rounded]="true" size="small" severity="secondary" [disabled]="true"/>
          </div>
          <div class="flex flex-column">
            <div class="flex align-items-center justify-content-center" *ngIf="!selectedButton.button2?.long_press?.entity_id">
              <p-chip label="Unassigned" styleClass="unassigned_button"/>&nbsp;
            </div>
            <div class="flex align-items-center justify-content-center" *ngIf="selectedButton.button2?.long_press?.entity_id">
              <app-icon [remote]="selectedRemote2" [icon]="getEntityIcon(selectedButton.button2?.long_press?.entity_id)" [size]="40"/>&nbsp;
              {{getEntityName(selectedButton.button2?.long_press?.entity_id)}} : {{selectedButton.button2?.long_press?.cmd_id}}
            </div>
            <span class="entity_id">{{selectedButton.button2?.long_press?.entity_id}}</span>
          </div>
        </div>
        <b *ngIf="selectedButton.button1?.double_press || selectedButton.button2?.double_press">Double press</b>
        <div class="flex align-content-center gap-3" style="min-height: 50px" *ngIf="selectedButton.button1?.double_press || selectedButton.button2?.double_press">
          <div class="flex flex-column">
            <div class="flex align-items-center justify-content-center">
              <app-icon [remote]="selectedRemote1" [icon]="getEntityIcon(selectedButton.button1?.double_press?.entity_id)" [size]="40"/>&nbsp;
              {{getEntityName(selectedButton.button1?.double_press?.entity_id)}} : {{selectedButton.button1?.double_press?.cmd_id}}
            </div>
            <span class="entity_id">{{selectedButton.button1?.double_press?.entity_id}}</span>
          </div>
          <div class="flex align-items-center justify-content-center" *ngIf="!selectedButton.button1?.double_press?.entity_id">
            <p-chip label="Unassigned" styleClass="unassigned_button"/>&nbsp;
          </div>
          <div class="flex align-items-center justify-content-center">
            <p-button icon="pi pi-arrow-right" [rounded]="true" size="small" severity="secondary" [disabled]="true"/>
          </div>
          <div class="flex flex-column">
            <div class="flex align-items-center justify-content-center" *ngIf="!selectedButton.button2?.double_press?.entity_id">
              <p-chip label="Unassigned" styleClass="unassigned_button"/>&nbsp;
            </div>
            <div class="flex align-items-center justify-content-center" *ngIf="selectedButton.button2?.double_press?.entity_id">
              <app-icon [remote]="selectedRemote2" [icon]="getEntityIcon(selectedButton.button2?.double_press?.entity_id)" [size]="40"/>&nbsp;
              {{getEntityName(selectedButton.button2?.double_press?.entity_id)}} : {{selectedButton.button2?.double_press?.cmd_id}}
            </div>
            <span class="entity_id">{{selectedButton.button2?.double_press?.entity_id}}</span>
          </div>
        </div>
      </div>

    </ng-container>
  </ng-template>
</p-popover>
<p-popover #actvitiesViewer [showCloseIcon]="true" appendTo="body">
  <ng-template pTemplate="content">
    <div class="grid" *ngIf="selectedActivity1 && selectedActivity2">
      <div class="col-6">
        <h3>Activity {{Helper.getEntityName(selectedActivity1)}} from remote {{selectedRemote1?.remote_name}}</h3>
        <app-activity-viewer [remote]="selectedRemote1" [editMode]="false" [activity]="selectedActivity1"></app-activity-viewer>
      </div>
      <div class="col-6">
        <h3>Activity {{Helper.getEntityName(selectedActivity2)}} from remote {{selectedRemote2?.remote_name}}</h3>
        <app-activity-viewer [remote]="selectedRemote2" [editMode]="false" [activity]="selectedActivity2"></app-activity-viewer>
      </div>
    </div>
    <ng-container *ngIf="selectedActivity1 && !selectedActivity2">
      <h3>Activity {{Helper.getEntityName(selectedActivity1)}} from remote {{selectedRemote1?.remote_name}}</h3>
      <app-activity-viewer [remote]="selectedRemote1" [editMode]="false" [activity]="selectedActivity1"></app-activity-viewer>
    </ng-container>
    <ng-container *ngIf="!selectedActivity1 && selectedActivity2">
      <h3>Activity {{Helper.getEntityName(selectedActivity2)}} from remote {{selectedRemote2?.remote_name}}</h3>
      <app-activity-viewer [remote]="selectedRemote2" [editMode]="false" [activity]="selectedActivity2"></app-activity-viewer>
    </ng-container>
  </ng-template>
</p-popover>
<app-remote-operations #operations [operations]="remoteOperations" [remote]="selectedRemote2" [groupByActivities]="true"
                       [(visible)]="showOperations" (operationsDone)="operationsDone($event)"></app-remote-operations>
<p-popover #entityPanel [style]="{ width: '450px' }" [showCloseIcon]="true" appendTo="body" styleClass="buttons_panel">
  <ng-template pTemplate="content">
    <ng-container *ngIf="selectedEntity">
      <div class="flex flex-column">
        <div class="flex align-content-center gap-3" style="min-height: 50px">
          <div class="flex flex-column">
            <div class="flex align-items-center justify-content-center">
              <app-icon [remote]="selectedRemote1" [icon]="getEntityIcon(selectedEntity.entity_id)" [size]="40"/>&nbsp;
              {{Helper.getEntityName(selectedEntity)}} : {{selectedEntity.entity_type}}
            </div>
            <span class="entity_id">{{selectedEntity.entity_id}}</span>
          </div>
        </div>
      </div>
    </ng-container>
  </ng-template>
</p-popover>
<p-confirmDialog key="confirmSync"/>
