<div *ngIf="coverEntity" class="flex gap-2 justify-content-center media-card" style="width: 100%;height:100%">
  <div class="close-button" *ngIf="closable">
    <app-button icon="pi pi-times" [rounded]="true" (click)="closeEntity()" [scale]="scale"
              size="small" severity="secondary" [text]="true"/>
  </div>
  <div class="flex-column align-content-start" style="width: 100%;height: 100%">
    <div class="flex align-content-center justify-content-center card-title"  cdkDragHandle [style]="'text-align:center;font-size:'+26*scale+'px'">
      <ng-container *ngIf="headerTemplate" [ngTemplateOutlet]="headerTemplate"/>
      <ng-container *ngIf="!headerTemplate">{{websocketService.getEntityName(coverEntity)}}</ng-container>
    </div>
    <div class="flex flex-column justify-content-center gap-4" style="height: 100%;">
      <div class="flex align-content-center justify-content-between" style="width: 100%">
        <div *ngIf="checkFeature(coverEntity, 'close')" [style]="'align-content: center;scale:'+scale">
          <p-button icon="pi pi-arrow-down" (click)="executeCommand('cover.close')"
                    size="small" pTooltip="Close cover"/>
        </div>
        <div *ngIf="checkFeature(coverEntity, 'stop')" [style]="'align-content: center;scale:'+scale">
          <p-button icon="pi pi-stop" (click)="executeCommand('cover.stop')"
                    size="small" pTooltip="Stop cover"/>
        </div>
        <div *ngIf="checkFeature(coverEntity, 'open')" [style]="'align-content: center;scale:'+scale">
          <p-button icon="pi pi-arrow-up" (click)="executeCommand('cover.open')"
                    size="small" pTooltip="Open cover"/>
        </div>
      </div>
      <div *ngIf="checkFeature(coverEntity, 'position')" style="width:100%;align-content: center">
        <div *ngIf="coverEntity.new_state?.attributes?.position"
             class="flex align-items-center justify-content-center" style="width: 100%; height: 100%">
          <app-slider [value]="coverEntity!.new_state!.attributes!.position!" [scale]="scale"
                      [textValue]="'Position '+ coverEntity!.new_state!.attributes!.position! + '%'"
                      style="width: 100%; height: 100%" (valueChange)="setPosition($event)"
                      [editable]="true"
                      [backgroundStyle]="'linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%)'"></app-slider>
        </div>
      </div>
    </div>
  </div>
</div>
