<div *ngIf="coverEntity" class="flex gap-2 justify-content-center media-card" [style]="'width: 100%;height:100%;min-height: '+200*scale+'px'">
  <div class="close-button" *ngIf="closable">
    <app-button icon="pi pi-times" [rounded]="true" (click)="closeEntity()" [scale]="scale"
              size="small" severity="secondary" [text]="true"/>
  </div>
  <div class="flex flex-column align-content-start gap-1" style="width: 100%;height:100%">
    <div class="flex align-content-center justify-content-center card-title"  cdkDragHandle
         [style]="'margin-bottom:0;text-align:center;font-size:'+26*scale+'px'">
      <ng-container *ngIf="headerTemplate" [ngTemplateOutlet]="headerTemplate"/>
      <ng-container *ngIf="!headerTemplate"><app-scrolling-text [text]="websocketService.getEntityName(coverEntity)" style="width:100%"/></ng-container>
    </div>
    <div class="flex flex-column justify-content-center gap-4" style="height: 100%;">
      <div class="flex align-content-center justify-content-around" style="width: 100%">
        <app-button *ngIf="checkFeature(coverEntity, 'close')" icon="pi pi-arrow-down"
                    (click)="executeCommand('cover.close')" [scale]="scale"
                  size="small" pTooltip="Close cover"/>
        <app-button *ngIf="checkFeature(coverEntity, 'stop')" icon="pi pi-stop"
                    (click)="executeCommand('cover.stop')" [scale]="scale"
                  size="small" pTooltip="Stop cover"/>
        <app-button *ngIf="checkFeature(coverEntity, 'open')" icon="pi pi-arrow-up"
                    (click)="executeCommand('cover.open')" [scale]="scale"
                  size="small" pTooltip="Open cover"/>
      </div>
      <div *ngIf="checkFeature(coverEntity, 'position')" style="width:100%;align-content: center">
        <div *ngIf="coverEntity.new_state?.attributes?.position"
             class="flex align-items-center justify-content-center" style="width: 100%; height: 100%">
          <app-slider [value]="coverEntity!.new_state!.attributes!.position!" [scale]="scale"
                      [textValue]="'Position '+ coverEntity!.new_state!.attributes!.position! + '%'"
                      style="width: 100%; height: 100%" (valueChange)="setPosition($event)"
                      [editable]="true"
                      [backgroundStyle]="'linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%)'"></app-slider>
        </div>
      </div>
    </div>
  </div>
</div>
