<div class="progress-spinner" *ngIf="progress">
  <p-progressSpinner styleClass="w-4rem h-4rem" strokeWidth="8" fill="var(--surface-ground)" animationDuration=".5s"></p-progressSpinner>
</div>
<p-toast></p-toast>
<h2><img src="assets/logo.png" alt="" style="width:200px"/>&nbsp;&nbsp;Remote Two configuration toolkit</h2>
<p-menubar [model]="items">
  <ng-template pTemplate="end">
    <p-dropdown [(ngModel)]="selectedRemote" [options]="remotes" placeholder="Select remote" (ngModelChange)="setRemote(selectedRemote!)">
      <ng-template pTemplate="selectedItem">
        <ng-container *ngIf="selectedRemote">{{selectedRemote.remote_name}} ({{selectedRemote.address}})</ng-container>
        <ng-container *ngIf="!selectedRemote">No remote selected</ng-container>
      </ng-template>
      <ng-template let-item pTemplate="item">
        {{item.remote_name}} ({{item.address}})
      </ng-template>
    </p-dropdown>
  </ng-template>
</p-menubar>
<app-remote-data-loader #loader [remote]="targetRemote" (loaded)="remoteLoaded($event)"></app-remote-data-loader>
<ng-container *ngIf="progress">
  {{progressDetail}}<br>
  <p-progressBar [value]="Math.round(remoteProgress)"></p-progressBar>
</ng-container>
<ng-container *ngIf="mode != 2">
  <h2>Edit activity : {{Helper.getEntityName(updatedActivity)}}</h2>
  {{updatedActivity?.entity_id}}
</ng-container>
<ng-container *ngIf="mode == 2">
  <h2>Create or clone activity : {{Helper.getEntityName(updatedActivity)}}</h2>
</ng-container>
<ng-container *ngIf="updatedActivity">
  <div class="flex align-content-center flex-wrap gap-3">
    <div class="flex align-items-center justify-content-center">
      Activity name :
    </div>
    <div class="flex align-items-center justify-content-center">
    <input type="text" pInputText [(ngModel)]="updatedActivity.name" />
    </div>
  </div>
</ng-container>
<p-messages severity="info">
  <ng-template pTemplate>
    <div class="ml-2">Here you can edit an activity : you can see the original mapping with the option above. In the new mapping you can only move UI icons.<br>
    You can edit buttons and UI mapping (incomplete), or you can also apply automatic mapping from a given media player or remote entity to the buttons and UI.<br>
    You can also replace an entity by another within the activity.<br>
    Once done, click on <b>Save activity to remote</b> to update the remote with the pending operations.</div>
  </ng-template>
</p-messages>
<div class="flex align-content-center flex-wrap gap-3">
  <div class="flex align-items-center justify-content-center">
    <p-button label="Save this activity to file" (onClick)="saveActivity()" severity="success" icon="pi pi-save" size="small"></p-button>
  </div>
  <div class="flex align-items-center justify-content-center">
    <p-button label="Import activity from file" (onClick)="importActivity()" severity="danger" icon="pi pi-file-import" size="small">
      <input #input_file type="file" style="display:none" (change)="loadInputFile($event)">
    </p-button>
  </div>
  <div class="flex align-items-center justify-content-center">
    <p-button label="Import activity from clipboard" (onClick)="importActivityFromClipboard()" severity="danger" icon="pi pi-clipboard" size="small"/>
  </div>
  <div class="flex align-items-center justify-content-center">
    <label for="targetRemote">Target remote to save to :</label>
  </div>
  <div class="flex align-items-center justify-content-center">
  <p-dropdown id="targetRemote" [(ngModel)]="targetRemote" [options]="remotes" placeholder="Target remote" (ngModelChange)="setTargetRemote($event)">
    <ng-template pTemplate="selectedItem">
      <ng-container *ngIf="targetRemote">{{targetRemote.remote_name}} ({{targetRemote.address}})</ng-container>
      <ng-container *ngIf="!targetRemote">No target remote selected</ng-container>
    </ng-template>
    <ng-template let-item pTemplate="item">
      {{item.remote_name}} ({{item.address}})
    </ng-template>
  </p-dropdown>
  </div>
</div>
<ng-container *ngIf="orphanEntities.length > 0">
  <h3>Some entities are orphans : replace them and click on apply</h3>
  <div class="flex align-content-center flex-wrap gap-3" style="min-height: 100px" *ngFor="let item of orphanEntities">
    <div class="flex align-items-center justify-content-center">
      <p-chip [label]="''+Helper.getEntityName(item.oldEntity)+' ('+item.oldEntity.entity_id+')'" />&nbsp;
    </div>
    <div class="flex align-items-center justify-content-center">
      <p-button icon="pi pi-arrow-right" [rounded]="true" size="small" severity="secondary" [disabled]="true"/>
    </div>
    <div class="flex align-items-center justify-content-center">
      <p-autoComplete [(ngModel)]="item.newEntity" [dropdown]="true" [suggestions]="suggestions3" (completeMethod)="searchOrphanEntity(item, $event)" appendTo="body"
                      [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}" optionLabel="entity_id">
        <ng-template let-item pTemplate="item">
          <div><b>{{Helper.getEntityName(item)}}</b> [<span [style]="{'color': Helper.getBackgroundColor(item.entity_type)}">{{item.entity_type}}</span>] ({{item.entity_id}})</div>
        </ng-template>
      </p-autoComplete>
    </div>
  </div>
  <p-button label="Submit" (onClick)="submitOrphans()" size="small"></p-button>
</ng-container>
<h3>Apply a predefined mapping from a given entity</h3>
<div *ngIf="selectedEntity"><b>{{selectedEntity.name}}</b> ({{selectedEntity.entity_id}})</div>
<div class="formgroup-inline">
  <ng-container *ngFor="let template of templates">
    <div class="field" *ngIf="!selectedEntity">
      <label [for]="template.entity_type" class="p-sr-only">Apply mapping to a {{template.entity_type}} :</label>
      <p-dropdown [id]="template.entity_type"  [options]="getEntities(template.entity_type)" [(ngModel)]="selectedEntity"
                  [placeholder]="'Select a '+template.entity_type" (ngModelChange)="loadTemplate()">
<!--        <ng-template pTemplate="selectedItem">-->
<!--          {{selectedEntity?.name}} ({{selectedEntity?.entity_id}})-->
<!--        </ng-template>-->
        <ng-template let-item pTemplate="item">
          <div>{{item.name}} ({{item.entity_id}})</div>
        </ng-template>
      </p-dropdown>
    </div>
  </ng-container>
  <ng-container *ngIf="selectedEntity && availableFeatures && availableFeatures!.length > 0">
    <div class="field">
      <label for="features">Select features to map</label>
      <p-multiSelect id="features" [options]="availableFeatures" [(ngModel)]="selectedFeatures" optionLabel="label"></p-multiSelect>
    </div>
  </ng-container>&nbsp;
</div>
<div class="flex align-content-center flex-wrap gap-3" style="min-height: 100px" *ngIf="selectedEntity && availableFeatures && availableFeatures!.length > 0">
  <div class="flex align-items-center justify-content-center">
    <p-checkbox [(ngModel)]="overwriteAssignedButtons" [binary]="true" label="Overwrite assigned physical buttons"></p-checkbox>
  </div>
  <div class="flex align-items-center justify-content-center">
    <p-checkbox [(ngModel)]="keepDefinedPositions" [binary]="true" label="Preserve defined interface buttons"></p-checkbox>
  </div>
  <div class="flex align-items-center justify-content-center">
    <p-button label="Apply mapping" (onClick)="applyTemplate()"></p-button><br>
  </div>
</div>
<h3>Replace an entity by another</h3>
<div class="flex overflow-hidden">
  <div class="flex-none flex align-items-center justify-content-left px-1 py-1">
    Replace entity :</div>
  <div class="flex-grow-1 flex align-items-center justify-content-left px-1 py-1">
    <div style="width: 50%;">
      <p-autoComplete [(ngModel)]="entity" [dropdown]="true" [suggestions]="suggestions" (completeMethod)="searchActivityEntity($event)" appendTo="body"
                      field="entity_id" [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}">
        <ng-template let-item pTemplate="item">
          <div><b>{{Helper.getEntityName(item)}}</b> [<span [style]="{'color': Helper.getBackgroundColor(item.entity_type)}">{{item.entity_type}}</span>] ({{item.entity_id}})</div>
        </ng-template>
      </p-autoComplete></div><div style="width: 60px">&nbsp;with :&nbsp;</div>
    <div style="width: 50%;">
      <p-autoComplete [(ngModel)]="newEntity" [dropdown]="true" [suggestions]="suggestions2" (completeMethod)="searchEntity($event)" appendTo="body"
                      field="entity_id" [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}">
        <ng-template let-item pTemplate="item">
          <div><b>{{Helper.getEntityName(item)}}</b> [<span [style]="{'color': Helper.getBackgroundColor(item.entity_type)}">{{item.entity_type}}</span>] ({{item.entity_id}})</div>
        </ng-template>
      </p-autoComplete></div>
  </div>
  <div class="flex-none flex align-items-center justify-content-right px-1 py-1">
    <p-button label="Replace" icon="pi pi-copy" size="small" (onClick)="replaceEntity(entity?.entity_id!, newEntity?.entity_id!)"></p-button>&nbsp;
  </div>
</div>
<br>
<p-dialog [header]="'Activity '+activity?.name" [(visible)]="viewerVisible" [style]="{width: '50vw'}">
  <app-activity-viewer #viewer [remote]="selectedRemote" [editMode]="false" [activity]="activity"></app-activity-viewer>
</p-dialog>
<app-activity-viewer #editor [remote]="targetRemote" [editMode]="true" [activity]="updatedActivity" (onChange)="activityChanged()"></app-activity-viewer>
<ng-container *ngIf="dump">
  <p>Generated mapping :</p>
  <ngx-json-viewer [json]="dump"></ngx-json-viewer>
</ng-container>
<app-remote-operations #operations [operations]="remoteOperations" [remote]="targetRemote"
                       [(visible)]="showOperations" (operationsDone)="operationsDone($event)"></app-remote-operations>

<p-confirmDialog/>
