<div class="progress-spinner" *ngIf="progress">
  <p-progressSpinner styleClass="w-4rem h-4rem" strokeWidth="8" fill="var(--surface-ground)" animationDuration=".5s"></p-progressSpinner>
</div>
<p-toast></p-toast>
<h2><img src="assets/logo.png" alt="" style="width:200px"/>&nbsp;&nbsp;Remote Two configuration toolkit</h2>
<p-menubar [model]="items">
  <ng-template pTemplate="end">
    <p-dropdown [(ngModel)]="selectedRemote" [options]="remotes" placeholder="Select remote" (ngModelChange)="setRemote(selectedRemote!)">
      <ng-template pTemplate="selectedItem">
        <ng-container *ngIf="selectedRemote">{{selectedRemote.remote_name}} ({{selectedRemote.address}})</ng-container>
        <ng-container *ngIf="!selectedRemote">No remote selected</ng-container>
      </ng-template>
      <ng-template let-item pTemplate="item">
        {{item.remote_name}} ({{item.address}})
      </ng-template>
    </p-dropdown>
  </ng-template>
</p-menubar>
<ng-container *ngIf="progress">
  {{progressDetail}}<br>
  <p-progressBar [value]="Math.round(remoteProgress)"></p-progressBar>
</ng-container>
<h3>Apply a mapping from a given entity (choose only one)</h3>
<div class="formgroup-inline">
  <ng-container *ngFor="let template of templates">
    <div class="field">
      <label [for]="template.entity_type" class="p-sr-only">Apply mapping to a {{template.entity_type}} :</label>
      <p-dropdown [id]="template.entity_type"  [options]="getEntities(template.entity_type)" [(ngModel)]="selectedEntity"
                  [placeholder]="'Select a '+template.entity_type" (ngModelChange)="loadTemplate()">
        <ng-template pTemplate="selectedItem">
          {{selectedEntity?.name}} ({{selectedEntity?.entity_id}})
        </ng-template>
        <ng-template let-item pTemplate="item">
          <div>{{item.name}} ({{item.entity_id}})</div>
        </ng-template>
      </p-dropdown>
    </div>
  </ng-container>
  <ng-container *ngIf="selectedEntity && availableFeatures && availableFeatures!.length > 0">
    <div class="field">
      <label for="features">Select features to map</label>
      <p-multiSelect id="features" [options]="availableFeatures" [(ngModel)]="selectedFeatures" optionLabel="label"></p-multiSelect>
    </div>
  </ng-container>&nbsp;
</div>
<ng-container *ngIf="selectedEntity && availableFeatures && availableFeatures!.length > 0">
  <div class="field-checkbox">
    <p-checkbox [(ngModel)]="overwriteAssignedButtons" [binary]="true" label="Overwrite assigned physical buttons"></p-checkbox>
  </div>
  <div class="field-checkbox">
    <p-checkbox [(ngModel)]="keepDefinedPositions" [binary]="true" label="Preserve defined interface buttons"></p-checkbox>
  </div>
<br>
  <p-button label="Apply mapping" (onClick)="applyTemplate(this.updatedActivity!);viewer.view(updatedActivity!, true)"></p-button><br><br>
</ng-container>

<h3>Replace an entity by another</h3>
<div class="flex overflow-hidden">
  <div class="flex-none flex align-items-center justify-content-left px-1 py-1">
    Replace entity :</div>
  <div class="flex-grow-1 flex align-items-center justify-content-left px-1 py-1">
    <div style="width: 50%;">
      <p-autoComplete [(ngModel)]="entity" [dropdown]="true" [suggestions]="suggestions" (completeMethod)="searchActivityEntity($event)" appendTo="body"
                      field="entity_id" [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}">
        <ng-template let-item pTemplate="item">
          <div><b>{{item.name}}</b> [<span [style]="{'color': Helper.getBackgroundColor(item.entity_type)}">{{item.entity_type}}</span>] ({{item.entity_id}})</div>
        </ng-template>
      </p-autoComplete></div><div style="width: 60px">&nbsp;with :&nbsp;</div>
    <div style="width: 50%;">
      <p-autoComplete [(ngModel)]="newEntity" [dropdown]="true" [suggestions]="suggestions" (completeMethod)="searchEntity($event)" appendTo="body"
                      field="entity_id" [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}">
        <ng-template let-item pTemplate="item">
          <div><b>{{item.name}}</b> [<span [style]="{'color': Helper.getBackgroundColor(item.entity_type)}">{{item.entity_type}}</span>] ({{item.entity_id}})</div>
        </ng-template>
      </p-autoComplete></div>
  </div>
  <div class="flex-none flex align-items-center justify-content-right px-1 py-1">
    <p-button label="Replace" icon="pi pi-copy" size="small" (onClick)="replaceEntity(entity?.entity_id!, newEntity?.entity_id!)"></p-button>&nbsp;
  </div>
</div>
<br>
<ng-container *ngIf="dump">
  <p>Generated mapping :</p>
  <ngx-json-viewer [json]="dump"></ngx-json-viewer>
</ng-container>
<app-activity-viewer #viewer [remote]="selectedRemote" [editMode]="true"></app-activity-viewer>
<app-remote-operations #operations [operations]="remoteOperations" [remote]="selectedRemote"></app-remote-operations>

