<p-toast key="remote"></p-toast>
<p-dialog header="Uploaded files" [(visible)]="visible" [style]="{width: '50vw'}">
  <input [(ngModel)]="host" type="text" pInputText placeholder="Remote host" />
  <input [(ngModel)]="port" type="text" pInputText placeholder="Remote port" />
  <input [(ngModel)]="username" type="text" pInputText placeholder="Remote username" />
  <input [(ngModel)]="token" type="text" pInputText placeholder="Remote token" />
  <p-button label="Register remote" (click)="submit()"></p-button>
  <p-table [value]="remotes" styleClass="p-datatable-sm p-datatable-striped" [resizableColumns]="true">
    <ng-template pTemplate="header">
      <tr>
        <th>Name</th><th>Address</th><th>Port</th><th>Username</th><th>Token</th><th>API key</th><th>Validity</th><th>Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-remote>
      <tr>
        <td><ng-container *ngIf="selectedRemote == remote"><b>{{remote.remote_name}}</b> (selected)</ng-container>
          <ng-container *ngIf="selectedRemote != remote">{{remote.remote_name}}</ng-container>
        </td>
        <td>{{remote.address}}</td>
        <td>{{remote.port}}</td>
        <td>{{remote.user}}</td>
        <td>{{remote.token}}</td>
        <td>{{remote.api_key}}</td>
        <td>{{remote.api_valid_to}}</td>
        <td>
          <p-button icon="pi pi-play" pTooltip="Select this remote" [rounded]="true" (click)="selectRemote(remote)"></p-button>&nbsp;
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-dialog>
