<p-toast key="remote"></p-toast>
<p-dialog header="Remotes configured" [(visible)]="visible" [style]="{width: '50vw'}">
  <div class="row">
    <div class="col-50">
      <input [(ngModel)]="host" type="text" pInputText placeholder="Remote host" />
    </div>
    <div class="col-50">
      <input [(ngModel)]="port" type="text" pInputText placeholder="Remote port" />
    </div>
  </div>
  <div class="row">
    <div class="col-50">
      <input [(ngModel)]="username" type="text" pInputText placeholder="Remote username" />
    </div>
    <div class="col-50">
      <input [(ngModel)]="token" type="text" pInputText placeholder="Remote token" />
    </div>
  </div><br>
  <p-button label="Register remote" (click)="submit()"></p-button>
  <p-blockUI [blocked]="blockedPanel" [target]="remotesTable"/>
  <div class="progress-spinner" *ngIf="progress">
    <p-progressSpinner styleClass="w-4rem h-4rem" strokeWidth="8" fill="var(--surface-ground)" animationDuration=".5s"></p-progressSpinner>
  </div>
  <p-table #remotesTable [value]="remotes" styleClass="p-datatable-sm p-datatable-striped" [resizableColumns]="true">
    <ng-template pTemplate="header">
      <tr>
        <th>Actions</th><th>Name</th><th>Address</th><th>Port</th><th>Username</th><th>Token</th><th>API key</th><th>Validity</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-remote>
      <tr>
        <td>
          <p-button icon="pi pi-play" pTooltip="Select this remote" [rounded]="true" (click)="selectRemote(remote)"></p-button>&nbsp;&nbsp;
          <p-button icon="pi pi-trash" pTooltip="Unregister this remote" [rounded]="true" (click)="deleteRemote(remote)" severity="danger"></p-button>&nbsp;
          <p-button icon="pi pi-barcode" pTooltip="Get registrations" [rounded]="true" (click)="getRemote(remote)"></p-button>&nbsp;
          <p-button icon="pi pi-wifi" pTooltip="Test connection" [rounded]="true" (click)="testRemote(remote)"></p-button>&nbsp;
          <p-button icon="pi pi-replay" severity="warning" pTooltip="Reboot remote" [rounded]="true" (click)="restartRemote(remote)"></p-button>
        </td>
        <td><ng-container *ngIf="selectedRemote == remote"><b>{{remote.remote_name}}</b> (selected)</ng-container>
          <ng-container *ngIf="selectedRemote != remote">{{remote.remote_name}}</ng-container>
        </td>
        <td>{{remote.address}}</td>
        <td>{{remote.port}}</td>
        <td>{{remote.user}}</td>
        <td>{{remote.token}}</td>
        <td>{{remote.api_key}}</td>
        <td>{{remote.api_valid_to}}</td>
      </tr>
    </ng-template>
  </p-table>
  <br>
  <p-table *ngIf="registrations" [value]="registrations" styleClass="p-datatable-sm p-datatable-striped" [resizableColumns]="true">
    <ng-template pTemplate="header">
      <tr>
        <th>Key id</th><th>Name</th><th>Prefix</th><th>Active</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-remote>
      <tr>
        <td>{{remote.key_id}}</td>
        <td>{{remote.name}}</td>
        <td>{{remote.prefix}}</td>
        <td>{{remote.active}}</td>
      </tr>
    </ng-template>
  </p-table>
</p-dialog>
