<p-toast key="operation"></p-toast>
<p-dialog #operationsDialog [header]="'Remotes operations to '+remote?.remote_name+' ('+remote?.address+')'" [(visible)]="visible" [style]="{width: '100vw'}" [draggable]="true"
          [resizable]="true" [closable]="!progress">
  <div class="flex align-content-center flex-wrap gap-3" style="min-height: 100px">
    <div class="flex align-items-center justify-content-center">
      <ng-container *ngIf="operations.length > 0">
        <p-button label="Submit to remote" severity="danger" (onClick)="updateRemote()" pTooltip="Process all the selected operations to the target remote control"></p-button>
      </ng-container>
    </div>
    <div class="flex align-items-center justify-content-center" *ngIf="hasDone()">
      <p-button label="Reset statuses" (onClick)="resetAll()" severity="secondary" icon="pi pi-times" size="small" [rounded]="true"></p-button>
    </div>
    <div class="flex align-items-center justify-content-center" *ngIf="hasErrors()">
      <p-button label="Reset errors only" (onClick)="resetErrors()" severity="secondary" icon="pi pi-minus" size="small" [rounded]="true"></p-button>
    </div>
  </div>
  <p-progressBar *ngIf="progress" [value]="Math.round(100*operationsProcessed/operationsTotal)"/>
  <ng-container *ngIf="progress && operationsErrors > 0">&nbsp;{{operationsErrors}} errors...</ng-container>
  <ng-container *ngIf="!groupByActivities">
    <p-table [value]="_operations" styleClass="p-datatable-sm p-datatable-striped" [resizableColumns]="true"
             [scrollable]="true" [scrollHeight]="'calc(70vh - 50px)'" [(selection)]="selectedOperations" >
      <ng-template #header>
        <tr>
          <th style="width: 4rem"><p-tableHeaderCheckbox pTooltip="Execute or ignore all operations" /></th>
          <th pResizableColumn>Name</th>
          <th pResizableColumn>Method</th>
          <th pResizableColumn>API</th>
          <th pResizableColumn>Status</th>
          <th pResizableColumn [style]="{width: '45%'}">Data</th>
          <th pResizableColumn [style]="{width: '10%'}">Actions</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-operation>
        <tr>
          <td><p-tableCheckbox [value]="operation" pTooltip="Execute or ignore this operation"/></td>
          <td>{{operation.name}}</td>
          <td>{{operation.method}}</td>
          <td>{{operation.api}}</td>
          <td>
            <p-chip *ngIf="!isOperationDone(operation.status)" [label]="getStatusLabel(operation.status)" [style]="getStatusLabelStyle(operation.status)"></p-chip>
            <p-chip *ngIf="isOperationDone(operation.status)" (click)="showResults(operation, $event)" class="link-element" [label]="getStatusLabel(operation.status)" [style]="getStatusLabelStyle(operation.status)"></p-chip>
            <ng-container *ngIf="operation.message">{{operation.message}}</ng-container>
          </td>
          <td [style]="{width: '60%'}"><ngx-json-viewer [json]="operation.body" [depth]="1"></ngx-json-viewer></td>
          <td>
            <ng-container *ngIf="operation.status !== OperationStatus.Todo">
              <p-button pTooltip="Replay this operation" icon="pi pi-replay" [rounded]="true" severity="warn" (onClick)="setStatus(operation, OperationStatus.Todo)"/>
            </ng-container>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </ng-container>
  <ng-container *ngIf="groupByActivities && activities">
    <p-table dataKey="id" [value]="activities" styleClass="p-datatable-sm p-datatable-striped" [resizableColumns]="true"
             [scrollable]="true" [scrollHeight]="'calc(70vh - 50px)'" >
      <ng-template #header>
        <tr>
          <th style="width: 5rem"></th>
          <th pResizableColumn>Activity</th>
          <th pResizableColumn>Status</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-activity let-expanded="expanded">
        <tr>
          <td>
            <p-button type="button" pRipple [pRowToggler]="activity" [text]="true" [rounded]="true" [plain]="true" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'" />
          </td>
          <td>{{Helper.getEntityName(activity)}}</td>
          <td><p-chip [label]="getStatusLabel(getActivityStatus(activity))" [style]="getStatusLabelStyle(getActivityStatus(activity))"></p-chip></td>
        </tr>
      </ng-template>
      <ng-template pTemplate="rowexpansion" let-activity>
        <tr>
          <td colspan="3">
            <div class="p-3">
              <p-table [value]="getFromActivity(activity)">
                <ng-template #header>
                  <tr>
                    <th pResizableColumn>Name</th>
                    <th pResizableColumn>Method</th>
                    <th pResizableColumn>API</th>
                    <th pResizableColumn>Status</th>
                    <th pResizableColumn [style]="{width: '45%'}">Data</th>
                    <th pResizableColumn [style]="{width: '10%'}">Actions</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-operation>
                  <tr>
                    <td>{{operation.name}}</td>
                    <td>{{operation.method}}</td>
                    <td>{{operation.api}}</td>
                    <td>
                      <p-chip *ngIf="!isOperationDone(operation.status)" [label]="getStatusLabel(operation.status)" [style]="getStatusLabelStyle(operation.status)"></p-chip>
                      <p-chip *ngIf="isOperationDone(operation.status)" (click)="showResults(operation, $event)" class="link-element" [label]="getStatusLabel(operation.status)" [style]="getStatusLabelStyle(operation.status)"></p-chip>
                      <ng-container *ngIf="operation.message">{{operation.message}}</ng-container></td>
                    <td [style]="{width: '60%'}"><ngx-json-viewer [json]="operation.body" [depth]="1"></ngx-json-viewer></td>
                    <td>
                      <ng-container *ngIf="operation.status !== OperationStatus.Todo">
                        <p-button pTooltip="Replay this operation" icon="pi pi-replay" [rounded]="true" severity="warn" (onClick)="setStatus(operation, OperationStatus.Todo)"/>
                      </ng-container>
                      <!--<ng-container *ngIf="operation.status == OperationStatus.Todo">
                        <p-button pTooltip="Cancel this operation" icon="pi pi-times" [rounded]="true" severity="danger" (onClick)="setStatus(operation, OperationStatus.Cancelled)"/>
                      </ng-container>-->
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </ng-container>
</p-dialog>
<p-popover id="resultsPannel" #resultsPannel [style]="{ width: '80%' }">
  <ng-template pTemplate="content">
    <ng-container *ngIf="selectedOperation?.results">
      <h3>Results of the operation {{selectedOperation!.method!}} {{selectedOperation!.api!}}</h3>
      <ngx-json-viewer [json]="selectedOperation!.results!" [depth]="3"></ngx-json-viewer>
    </ng-container>
  </ng-template>
</p-popover>
