<p-toast key="operation"></p-toast>
<p-dialog header="Remotes operations" [(visible)]="visible" [style]="{width: '80vw'}">
  <ng-container *ngIf="operations.length > 0">
    <p-button label="Submit to remote" severity="danger" (onClick)="updateRemote()"></p-button>
  </ng-container>
  <p-table [value]="operations" styleClass="p-datatable-sm p-datatable-striped" [resizableColumns]="true">
    <ng-template pTemplate="header">
      <tr>
        <th>Method</th><th>API</th><th>Status</th><th>Action</th><th [style]="{width: '60%'}">Data</th><th>Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-operation>
      <tr>
        <td>{{operation.method}}</td>
        <td>{{operation.api}}</td>
        <td><p-chip [label]="getStatusLabel(operation.status)" [style]="getStatusLabelStyle(operation.status)"></p-chip>
        <ng-container *ngIf="operation.message">{{operation.message}}</ng-container></td>
        <td>&nbsp;</td>
        <td [style]="{width: '60%'}"><ngx-json-viewer [json]="operation.body" [depth]="1"></ngx-json-viewer></td>
        <td>
          <ng-container *ngIf="operation.status !== OperationStatus.Todo">
          <p-button icon="pi pi-replay" [rounded]="true" severity="warning" (onClick)="setStatus(operation, OperationStatus.Todo)"/>
          </ng-container>
          <ng-container *ngIf="operation.status == OperationStatus.Todo">
            <p-button icon="pi pi-times" [rounded]="true" severity="danger" (onClick)="setStatus(operation, OperationStatus.Cancelled)"/>
          </ng-container>
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-dialog>
