<div class="progress-spinner" *ngIf="progress">
  <p-progressSpinner styleClass="w-4rem h-4rem" strokeWidth="8" fill="var(--surface-ground)" animationDuration=".5s"></p-progressSpinner>
</div>
<p-toast></p-toast>
<h2><img src="assets/logo.png" alt="" style="width:200px"/>&nbsp;&nbsp;Remote Two configuration toolkit</h2>
<p-menubar [model]="items">
  <ng-template pTemplate="end">
    <p-dropdown [(ngModel)]="selectedRemote" [options]="remotes" placeholder="Select remote" (ngModelChange)="setRemote(selectedRemote!)">
      <ng-template pTemplate="selectedItem">
        <ng-container *ngIf="selectedRemote">{{selectedRemote.remote_name}} ({{selectedRemote.address}})</ng-container>
        <ng-container *ngIf="!selectedRemote">No remote selected</ng-container>
      </ng-template>
      <ng-template let-item pTemplate="item">
        {{item.remote_name}} ({{item.address}})
      </ng-template>
    </p-dropdown>
  </ng-template>
</p-menubar>
<ng-container *ngIf="progress">
  {{progressDetail}}<br>
  <p-progressBar [value]="Math.round(remoteProgress)"></p-progressBar>
</ng-container>
<app-entity-viewer #entityviewer></app-entity-viewer>
<br>
<div class="flex align-content-center flex-wrap gap-3" style="min-height: 100px" *ngFor="let item of replaceEntities">
  <div class="flex align-items-center justify-content-center">
    <ng-container *ngIf="!item.oldEntity">Entity to be replaced</ng-container>
    <p-chip *ngIf="item.oldEntity" [label]="''+getEntityName(item.oldEntity)+' ('+item.oldEntity.entity_id+')'" />&nbsp;
  </div>
  <div class="flex align-items-center justify-content-center">
    <p-button icon="pi pi-arrow-right" [rounded]="true" size="small" severity="secondary" (click)="invertEntities(item)"/>
  </div>
  <div class="flex align-items-center justify-content-center">
    <ng-container *ngIf="!item.newEntity">Entity to replace</ng-container>
    <p-chip *ngIf="item.newEntity" [label]="''+getEntityName(item.newEntity)+' ('+item.newEntity.entity_id+')'" />
  </div>

</div>
<div class="flex align-content-center flex-wrap gap-3" style="min-height: 100px">
  <div class="flex align-items-center justify-content-center">
    <p-button label="Reset" (onClick)="reset(replaceEntities.at(-1)!)" severity="danger" icon="pi pi-times" size="small" [rounded]="true"></p-button>
  </div>
  <div class="flex align-items-center justify-content-center">
    <p-button label="Add" (onClick)="add()" severity="success" icon="pi pi-plus" size="small" [rounded]="true"></p-button>
  </div>
  <div class="flex align-items-center justify-content-center" *ngIf="replaceEntities.length > 1">
    <p-button label="Remove" (onClick)="remove()" severity="danger" icon="pi pi-minus" size="small" [rounded]="true"></p-button>
  </div>
  <div class="flex align-items-center justify-content-center">
    <p-button [disabled]="checkSelection()" label="Submit" icon="pi pi-check"
              (click)="replaceEntity()"/>
  </div>
</div>
<ng-container *ngIf="messages.length > 0">
  <h3>Warnings during the analysis</h3>
  <p-table [value]="messages" styleClass="p-datatable-sm p-datatable-striped" [resizableColumns]="true"
           dataKey="message" columnResizeMode="expand">
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="title" pResizableColumn>Title<p-sortIcon field="title"></p-sortIcon></th>
        <th pSortableColumn="message" pResizableColumn>Detail<p-sortIcon field="message"></p-sortIcon></th>
      </tr>
      <tr>
        <th><p-columnFilter type="text" field="entity_id"></p-columnFilter></th>
        <th><p-columnFilter type="text" field="message"></p-columnFilter></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-message>
      <tr>
        <td>{{message.title}}</td>
        <td>{{message.message}}</td>
      </tr>
    </ng-template>
  </p-table>
</ng-container>
<ng-container *ngIf="orphanEntities.length > 0">
  <h3>Orphan entities</h3>
  <p-table [value]="orphanEntities" styleClass="p-datatable-sm p-datatable-striped" [resizableColumns]="true"
           dataKey="entity_id" columnResizeMode="expand">
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="title" pResizableColumn>Name<p-sortIcon field="name"></p-sortIcon></th>
        <th pSortableColumn="entity_id" pResizableColumn>Entity id<p-sortIcon field="entity_id"></p-sortIcon></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-entity>
      <tr>
        <td>{{getEntityName(entity)}}</td>
        <td>{{entity.entity_id}}</td>
      </tr>
    </ng-template>
  </p-table>
</ng-container>
<h2>Select entity to replace</h2>
<p-messages severity="warn">
  <ng-template pTemplate>
    <div class="ml-2">You should select only entities of the same type and features</div>
  </ng-template>
</p-messages>
<p-table [value]="entities" styleClass="p-datatable-sm p-datatable-striped" [resizableColumns]="true"
         dataKey="entity_id" columnResizeMode="expand">
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="entity_id" pResizableColumn>Entity ID<p-sortIcon field="entity_id"></p-sortIcon></th>
      <th pSortableColumn="name" pResizableColumn>Name<p-sortIcon field="name"></p-sortIcon></th>
      <th pSortableColumn="integration_id" pResizableColumn>Driver<p-sortIcon field="integration_id"></p-sortIcon></th>
      <th pSortableColumn="entity_type" pResizableColumn>Entity type<p-sortIcon field="entity_type"></p-sortIcon></th>
      <th pResizableColumn>Used in activities</th>
      <th pResizableColumn>Features</th>
    </tr>
    <tr>
      <th><p-columnFilter type="text" field="entity_id" [matchMode]="'contains'"></p-columnFilter></th>
      <th><p-columnFilter type="text" field="name" [matchMode]="'contains'"></p-columnFilter></th>
      <th><p-columnFilter type="text" field="integration_id" [matchMode]="'contains'"></p-columnFilter></th>
      <th><p-columnFilter type="text" field="entity_type" [matchMode]="'contains'"></p-columnFilter></th>
      <th></th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-entity>
    <tr>
      <td><a [routerLink]="[]" (click)="selectEntity(entity)">{{entity.entity_id}}</a></td>
      <td><p-chip [label]="getEntityName(entity)" [style]="getStyle(getEntityName(entity))" (click)="entityviewer.view(entity)"></p-chip></td>
      <td><p-chip [label]="entity.integration_id" [style]="getStyle(entity.integration_id)"></p-chip></td>
      <td><p-chip [label]="entity.entity_type" [style]="getStyle(entity.entity_type)"></p-chip></td>
      <td><ng-container *ngFor="let activity of getUsedActivities(entity)">
        <p-chip [label]="activity.name" [style]="getStyle(activity.name)" [pTooltip]="activity.entity_id"></p-chip>
      </ng-container></td>
      <td><ng-container *ngFor="let feature of entity['features']">
        <p-chip [label]="feature" [style]="getStyle(feature)"></p-chip> </ng-container></td>
    </tr>
  </ng-template>
</p-table>
<app-remote-operations #operations [operations]="remoteOperations" [remote]="selectedRemote"></app-remote-operations>
