.widget-dialog {
  padding: 0 !important;
  transition: width 1s, height 1s;
}

.widget-header {
  padding: 0 !important;
  opacity: 0.7;
  transition: width 1s ease-in-out, height 1s ease-in-out, opacity 0.5s ease;
}

.widget-header .p-dialog-header
{
  padding: 6px !important;
}

.widget {
  padding: 0.1rem !important;
  transition: width 1s, height 1s;
}

.widget-header:hover {
  opacity: 1;
}

.grid-pagination {
  position: absolute;
  max-width: 150px;
  top: 20px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.smaller-button .p-component {
  font-size: 0.5rem !important;
}

.smaller-button .p-button {
  width: 2rem !important;
  height: 2rem !important;
  padding: 0;
}
