.slider-edit {
  display: none;
  position:absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  height: 40px;
  transform: translate(-50%, -50%);
  opacity: 0;
  padding-left: 4px;
  transition: all 0.5s ease;
}

.progress-text {
  position:absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.5s ease;
  color: white;
  font-weight: bolder;
}

.progress-max {
  position:absolute;
  top: 100%;
  right: 0;
  transform: translate(0%, 0%);
  transition: all 0.5s ease-in-out;
  color: white;
  font-size: smaller;
}

.slider-wrapper-noedit {
  height: 40px;
}

.slider-wrapper {
  height: 40px;
  transition: all 0.5s ease-in-out;
}

.slider-wrapper:hover .slider-progress
{
  display:none;
  transition: all 0.5s ease-in-out;
}

.slider-wrapper:hover .slider-edit
{
  display:block;
  opacity: 1;
}

.slider-progress {
  width: 100%;
  position: relative;
  text-align: center;
  transition: all 0.5s ease-in-out;
}

.slider-progress:hover {
  cursor: pointer;
}

