<div [style.--height]="scale*25+'px'" [style.--font-size]="scale*16+'px'" [style.--font-size-smaller]="scale*13+'px'"
     [style.--progress-background]="backgroundStyle"
  [style]="'position: relative; width: 100%; height: '+scale*30+'px'" [class]="editable ? 'slider-wrapper' : 'slider-wrapper-noedit'">
  <div [class]="editable ?  'slider-progress' : 'slider-progress-noedit'">
    <p-progressBar [style]="{'width': '100%'}" [value]="value" [class]="secondaryState ? 'secondary-state' : ''">
      <ng-template pTemplate="content"></ng-template>
    </p-progressBar>
    <div class="progress-text">{{textValue}}</div>
    <div class="progress-max" *ngIf="max">{{max}}</div>
  </div>
  <div class="flex flex-column align-items-center justify-content-center slider-edit" *ngIf="editable"
       [style]="{'max-height':scale*25+'px'}">
    <p-slider [(ngModel)]="value" class="w-full" (ngModelChange)="valueUpdate(value)"
              [class]="secondaryState ? 'secondary-state' : ''"/>
    {{textValue}}
  </div>
</div>

