@import "primeicons/primeicons.css"; /* You can add global styles to this file, and also import other style files */
@import "assets/ucicon/styles.css";
:root {
  --ngx-json-key: #9ef0ff;
  --ngx-json-value: #00FF65;
  --ngx-json-string : #ffa6fe;
  --ngx-json-number : #FF1DD5;
  --ngx-json-boolean : #FF8000;
  --ngx-json-date : #FFEA00;
  --ngx-json-array : #FFEA00;
  --ngx-json-object : #059635;
  --ngx-json-separator : #FF2238;
}

html {
  font-family:Inter var,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol;
}

.p-component {
  font-size: 0.7rem !important;
}

a:link {
  color: white;
  text-decoration: none;
}

a:visited {
  color: #bed8ff;
}

a.p-menubar-item-link:hover {
  text-decoration: none;
}

a.p-menubar-item-link:active {
  text-decoration: none;
}

a.p-accordion-header-link:hover {
  text-decoration: none;
}

a.p-accordion-header-link:active {
  text-decoration: none;
}

a:hover {
  color: white;
  text-decoration: underline;
}

a:active {
  font-weight: bold;
  text-decoration: underline;
}

.chip-command
{
  border-radius: 0;
  padding: 2px;
  height: 20px;
}
