<ng-container *ngIf="mediaEntityState?.new_state">
  <div style="position: relative; width: 100%; height: 100%; text-align: center">
      <img class="media-image-run" *ngIf="imageUrl" [src]="imageUrl"
           [alt]="mediaEntityState?.new_state?.attributes?.media_title" />
    <div style="position: absolute; bottom: 0; left:0; right: 0">
      <div class="flex align-items-center justify-content-center" *ngIf="mediaEntityState?.new_state?.attributes?.media_title" style="width: 100%">
        <app-scrolling-text [text]="mediaEntityState!.new_state!.attributes!.media_title!" textClass="text-content" [textStyle]="textStyle" style="width: 100%"/>
      </div>
      <div class="flex align-items-center justify-content-center" *ngIf="mediaEntityState?.new_state?.attributes?.media_artist" style="width: 100%">
        <app-scrolling-text [text]="mediaEntityState!.new_state!.attributes!.media_artist!" textClass="text-content" [textStyle]="textStyle" style="width: 100%" />
      </div>
      <div class="flex align-items-center justify-content-center" *ngIf="mediaEntityState?.new_state?.attributes?.media_album!" style="width: 100%">
        <app-scrolling-text [text]="mediaEntityState!.new_state!.attributes!.media_album!" textClass="text-content" [textStyle]="textStyle" style="width: 100%"/>
      </div>
      <div *ngIf="mediaEntityState?.new_state?.attributes?.media_position && mediaEntityState?.new_state?.attributes?.media_duration &&
                      mediaEntityState?.new_state!.attributes!.media_duration! > 0"
           class="flex align-items-center justify-content-center" style="width: 100%; height: 100%">
        <app-slider [value]="Math.round(websocketService.getMediaPosition(mediaEntityState!)*100/mediaEntityState!.new_state!.attributes!.media_duration!)"
                    style="width: 100%; height: 100%" (valueChange)="setPosition($event, mediaEntityState!)"
                    [textValue]="Helper.formatDuration(websocketService.getMediaPosition(mediaEntityState!))"
                    [editable]="checkFeature(mediaEntityState!, 'seek')" [max]="Helper.formatDuration(mediaEntityState!.new_state!.attributes!.media_duration!)"></app-slider>
        <b *ngIf="mediaEntityState?.new_state?.attributes?.media_position &&
            (!mediaEntityState?.new_state?.attributes?.media_duration ||
                      mediaEntityState?.new_state!.attributes!.media_duration! == 0)">
          {{Helper.formatDuration(websocketService.getMediaPosition(mediaEntityState!))}}</b>
      </div>
    </div>
  </div>
</ng-container>
