.widget-dialog {
  padding: 0.1rem !important;
  transition: width 1s ease-in-out, height 1s ease-in-out, opacity 0.5s ease, background-color 0.5s ease;
  animation: blur-out 500ms 0s forwards;
}

.widget-header {
  padding: 0.1rem !important;
  opacity: 0.7;
  transition: width 1s ease-in-out, height 1s ease-in-out, opacity 0.5s ease;
}

.widget-header .p-dialog-header {
  padding: 0.1rem !important;
}

.widget {
  padding: 0.1rem !important;
  transition: width 1s, height 1s;
}

.widget-header:hover {
  opacity: 1;
  transition-delay: 0s;
  animation: blur-in 500ms 0s forwards;
}


.widget-dialog {
  padding: 0 !important;
  transition: width 1s ease-in-out, height 1s ease-in-out, opacity 0.5s ease, background-color 0.5s ease;
  animation: blur-out 500ms 0s forwards;
}

.widget-header > div {
  background: rgba(31, 41, 55, 0.7);
}

.widget-header:hover > div {
  background: rgba(0, 0, 0, 0);
}

.widget-connection-status .p-tag {
  transition: all 1s ease-in-out;
}

.widget-connection-status .p-tag:first-child {
  width: 80px;
}

.charging-status {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.4rem;
  font-weight: bold;
  color: #fbf100;
}

.smaller-button .p-component {
  font-size: 0.5rem !important;
}

.smaller-button .p-button {
  width: 2rem !important;
  height: 2rem !important;
  padding: 0;
}

@keyframes blur-in {
  from {
    backdrop-filter: blur(0px);
  }
  to {
    backdrop-filter: blur(30px);
  }
}

@keyframes blur-out {
  from {
    backdrop-filter: blur(30px);
  }
  to {
    backdrop-filter: blur(0px);
  }
}
