<div *ngIf="lightEntity" class="flex gap-2 justify-content-center media-card" style="width: 100%;">
  <div class="power-button" [style]="'scale:'+scale" *ngIf="checkFeature(lightEntity, 'toggle')">
    <p-button *ngIf="!isOn()" icon="pi pi-lightbulb"
              [rounded]="true" (click)="powerToggle(lightEntity)"
              size="small" pTooltip="Power toggle" severity="secondary"/>
    <p-button *ngIf="isOn()" icon="pi pi-lightbulb" [rounded]="true"
              (click)="powerToggle(lightEntity)" size="small" pTooltip="Power toggle"/>
  </div>
  <div class="close-button" *ngIf="closable" [style]="'scale:'+scale">
    <p-button icon="pi pi-times" [rounded]="true" (click)="closeEntity()"
              size="small" pTooltip="Close" severity="secondary"/>
  </div>
  <div class="flex-column" style="width: 100%">
    <div class="flex align-content-center justify-content-center card-title"  cdkDragHandle [style]="'text-align:center;scale:'+scale+';margin-left:'+(38*scale)+'px'">
      <ng-container *ngIf="headerTemplate" [ngTemplateOutlet]="headerTemplate"/>
      <ng-container *ngIf="!headerTemplate"><h2>{{websocketService.getEntityName(lightEntity)}}</h2></ng-container>
    </div>
    <div class="flex flex-column" [style]="'width: 100%;scale:'+scale" *ngIf="isOn() && checkFeature(lightEntity, 'dim')">
      <div *ngIf="lightEntity.new_state?.attributes?.brightness"
           class="flex align-items-center justify-content-center" style="width: 100%; height: 100%">
        <app-slider [value]="Math.round(lightEntity!.new_state!.attributes!.brightness!*100/255)"
                    [textValue]="'Brightness '+ Math.round(lightEntity!.new_state!.attributes!.brightness!*100/255) + '%'"
                    style="width: 100%; height: 100%" (valueChange)="updateBrightness($event, lightEntity)"
                    [editable]="true"></app-slider>
      </div>
    </div>
  </div>
</div>
