.power-light-button {
  --light-button-color: #ffe785;
}

.power-light-button .p-button{
  background: var(--light-button-color);
  border-color: var(--light-button-color);
}

.card-title {
  overflow: hidden;
  cursor: move;
}

.media-card {
  position: relative;
  width: 100%;
}

.power-button {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
}

.close-button {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
}

.p-colorpicker-panel .p-colorpicker-color {
  background: transparent url("/assets/images/custom-color.png") no-repeat left top !important;
}


.p-colorpicker-panel .p-colorpicker-hue {
  background: transparent url("/assets/images/custom-hue.png") no-repeat left top !important;
}

.p-colorpicker-panel .p-colorpicker-color-handle {
  border-width: 1px;
  border-color: white;
  background: radial-gradient(circle, rgba(255,235,159,0.6719480028339461) 36%, rgba(255,255,255,1) 96%);
  width: 15px;
  height: 15px;
  transition: border 0.5s ease-in-out, background 0.5s ease-in-out;
}

.p-colorpicker-panel .p-colorpicker-color-handle:hover {
  border-width: 3px;
  background: white;
}
