.power-light-button {
  --light-button-color: #ffe785;
  transition: all 0.5s ease-in-out;
}

.power-light-button .p-button{
  background: var(--light-button-color);
  border-color: var(--light-button-color);
  transition: all 0.5s ease-in-out;
}

.color-title {
  transition: all 0.5s ease-in-out;
}

.card-title {
  overflow: hidden;
  cursor: move;
  display: block;
  font-size: 1.5em;
  /*margin-block-start: 0.83em;*/
  margin-block-end: 0.83em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  font-weight: bold;
  unicode-bidi: isolate;
}

.media-card {
  position: relative;
  width: 100%;
}

.power-button {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.close-button {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
}

.p-colorpicker-panel .p-colorpicker-color {
  background: transparent url("/assets/images/custom-color.png") no-repeat left top !important;
}


.p-colorpicker-panel .p-colorpicker-hue {
  background: transparent url("/assets/images/custom-hue.png") no-repeat left top !important;
}

.p-colorpicker-panel .p-colorpicker-color-handle {
  border-width: 1px;
  border-color: white;
  background: radial-gradient(circle, rgba(255,235,159,0.6719480028339461) 36%, rgba(255,255,255,1) 96%);
  width: 15px;
  height: 15px;
  transition: border 0.5s ease-in-out, background 0.5s ease-in-out, left 0.5s ease-in-out, top 0.5s ease-in-out;
}

.p-colorpicker-panel .p-colorpicker-color-handle:hover {
  border-width: 3px;
  background: white;
}

.p-colorpicker-panel .p-colorpicker-hue-handle {
  transition: left 0.5s ease-in-out, top 0.5s ease-in-out, border 0.5s ease-in-out, background 0.5s ease-in-out;
}

.p-colorpicker-panel .p-colorpicker-hue-handle:hover {
  border-width: 5px;
  background: white;
}

.close-button .p-button {
  transition: all 0.3s ease-in-out;
}

.close-button .p-button:hover {
  background-color: rgba(255, 255, 255, 0.7);
}
